@charset "UTF-8";

/*  - - - - - - - - FONTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-medium-webfont.woff2') format('woff2'),
		url('/fonts/informative-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-mediumit-webfont.woff2') format('woff2'),
		url('/fonts/informative-mediumit-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-semibold-webfont.woff2') format('woff2'),
		url('/fonts/informative-semibold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-semiboldit-webfont.woff2') format('woff2'),
		url('/fonts/informative-semiboldit-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informative-black-webfont.woff2') format('woff2'),
		url('/fonts/informative-black-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informative-blackit-webfont.woff2') format('woff2'),
		url('/fonts/informative-blackit-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Overpass";
	src:
		url('/fonts/op-sb-webfont.woff2') format('woff2'),
		url('/fonts/op-sb-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Overpass";
	src:
		url('/fonts/op-b-webfont.woff2') format('woff2'),
		url('/fonts/op-b-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/*  - - - - - - - - VARIABLES
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
    --max-width: 37em;
    /* set a specific variable for left/right margin and padding units */
    /* so it can be consistent throughout site regardless of font size */
    --layout-unit: 1rem;
    --font-family: "Informat", Verdana, sans-serif;
    --font-family-black: "Informat Black", Verdana, sans-serif;
	--font-family-code: "Overpass", monospace;
	/* default colour theme variables that can be overridden on pages */
	--primary-bg: 0,0%,91%; /* hsl(0,0%,91%) */
	--secondary-bg: 0,0%,82%; /* hsl(0,0%,82%) */
	--text: 0,4%,26%; /* hsl(0,4%,26%) */
	--linktext: 0,0%,19%; /* hsl(0,0%,19%) */
	--darklinktext: 0,0%,1%; /* hsl(0,0%,1%) */
	--brilliant: 180,1%,50%; /* hsl(180,1%,50%) */
	--tab-two: 0,0%,84%; /* hsl(0,0%,84%) */
	--tab-three: 180,2%,78%; /* hsl(180,2%,78%) */
	--tab-four: 180,2%,71%; /* hsl(180,2%,71%) */
	--tab-five: 0,0%,64%; /* hsl(0,0%,64%) */
	--tab-six: 180,1%,57%; /* hsl(180,1%,57%) */
}

/*  - - - - - - - - TYPOGRAPHY
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


html {
	font-size: 100%; /* all font sizes and rems scale from here */
	line-height: 1.35;
}

@media screen and (min-width: 18em) {
    html {
        font-size: 110%; /* all font sizes and rems scale from here */
    }
}
    
@media screen and (min-width: 30em) {
    html {
        font-size: 115%; /* all font sizes and rems scale from here */
    }
}
    
@media screen and (min-width: 35em) {
    html {
        font-size: 135%; /* all font sizes and rems scale from here */
    }
}

body {
	font-family: var(--font-family);
    letter-spacing: -0.02em;
}
	
h1, h2, h3 {
	font-family: var(--font-family-black);
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.1;
	margin: 0 0 0.5em 0;
	margin-left: var(--layout-unit);
    margin-right: var(--layout-unit);
}
	
h1 {
	font-size: 2.5em;
    margin-top: 1em;
}
	
@media screen and (min-width: 35em) {
    h1 {
        font-size: 4em;
    }
}

/* make h1s on Notes and Photos single posts smaller */
.notes article .page-title, .photos article .page-title {
	font-size: 2em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    .notes article .page-title, .photos article .page-title {
		font-size: 2.5em;
    }
}

h2 {
	font-size: 2em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    h2 {
        font-size: 2.5em;
    }
}

h2#latest-photos, h2#latest-notes {
    margin-top: 1em;
}

/* make h2s on notes smaller */
.notes main h2 {
	font-size: 1.75em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    .notes main h2 {
        font-size: 2em;
    }
}
	
h1, h1 a, h2, h2 a {
	/* for really big text or long words */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    hyphens: auto;
}
	
h3, footer h2 {
	font-size: 1.75em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    h3, footer h2 {
        font-size: 2em;
    }
}
	
h4, h5, h6 {
	font-style: italic;
	margin: 0 0 0.5em 0;
	margin-left: var(--layout-unit);
    margin-right: var(--layout-unit);
}
	
h4 {
	font-size: 1.5em;
}

@media screen and (min-width: 35em) {
    h4 {
        font-size: 1.75em;
    }
}

h5 {
	font-size: 1.25em;
}

@media screen and (min-width: 35em) {
    h5 {
        font-size: 1.5em;
    }
}

h6 {
	font-size: 1.2em;
}

@media screen and (min-width: 35em) {
    h6 {
        font-size: 1.25em;
    }
}

p {
    margin: 0 var(--layout-unit) 0.5em var(--layout-unit);
}
	
a {
	/* for really long URLs */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    hyphens: auto;
}
	
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
	font-family: var(--font-family-code);
	/* give Overpass monospace font same x-height as Informative */
    font-size: 0.95em;
}
	
small {
    font-size: 0.9em;
}
	
small a {
    text-decoration: none;
}
		
blockquote {
    font-style: italic;
}

.entry-meta {
    font-size: 1.25em;
}

.entry-notes {
    font-size: 0.9em;
}
	
figcaption, .site-footer p, .site-footer small, .note {
    font-size: 0.9em;
}
	
.site-title {
	font-style: italic;
    text-transform: uppercase;
}

/*  - - - - - - - - LAYOUT
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*  - - - - - - - - NAKED ELEMENTS */

body {
	margin: 0;
}

p, small {
	max-width: var(--max-width);
}
		
ul, ol {
	margin: 1em var(--layout-unit);
	padding-left: var(--layout-unit);
}

blockquote {
	margin: 1em var(--layout-unit);
}

pre {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	border: none;
	margin: 1em 0;
	max-width: calc(var(--max-width)*1.195);
	overflow-x: scroll;
	overflow-y: visible;
	padding: 2em var(--layout-unit) 3em var(--layout-unit);
}

/*  - - - - - - - - CUSTOM COMPONENTS (CLASSES AND IDs) */

/*  - - - - - - - - HEADER */

.site-header {
	/* to clear contained margins */
	padding: 0.5em 0 0 0;
}

.site-title {
	margin-top: 0;
	margin-bottom: 0.1em;
}
	
.site-title a {
	text-decoration: none;
}

/*  - - - - - - - - MAIN */

#content {
/* to clear contained margins */
	padding: 0.5em 0 4.5em;
}

.entry-notes {
	padding-top: 2em;
}

.notes-list .entry-notes, .posts-list .entry-notes {
	padding-top: 0.5em;
}

/*  - - - - - - - - FOOTER */
	
.site-footer {
/* to clear contained margins */
	padding: 0.5em 0;
}
		
.site-footer p, .site-footer small, .note, figcaption p {
	margin-right: var(--layout-unit);
	margin-left: var(--layout-unit);
}

/*  - - - - - - - - NAVIGATION
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.skip-link {
	display: block;
	padding: 0.25em 1em;
	position: absolute;
	right: 0;
	top: -10em;
}

.navigation-menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-menu ul a {
	display: block;
	padding: calc(var(--layout-unit)/2) var(--layout-unit);
	text-decoration: none;
}
	
@media screen and (min-width: 35em) {
	.navigation-menu ul a {
		padding: calc(var(--layout-unit)/2) var(--layout-unit);
	}
}

/*  - - - - - - - - BLOG
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.posts-list, .resources-list, .notes-list {
	margin: 0;
	padding-left: 0;
}

.posts-list li, .resources-list li, .notes-list li {
	list-style-type: none
}

.posts-list ul li, .resources-list ul li, .notes-list ul li {
	list-style-type: disc;
}
		
.posts-list ol li, .resources-list ol li, .notes-list ol li {
	list-style-type: decimal;
}

.posts-list h2 a, .resources-list h2 a, .notes-list h2 a,
.posts-list h3 a, .resources-list h3 a, .notes-list h3 a {
	text-decoration: none;
}
			
.posts-list .entry-meta, .resources-list .entry-meta, .notes-list .entry-meta {
	font-family: var(--font-family-black);
	font-weight: bold;
}

main article .entry-meta {
	font-family: var(--font-family-black);
	font-weight: bold;
}

.resources-list li {
	margin-left: var(--layout-unit);
}

.commentlist {
	margin-top: 2em;
	padding-left: 0;
}
	
.commentlist li {
	list-style-type: none;
	margin-bottom: 3em;
	padding-left: 0;
}
	
.commentlist li .comment-author {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "a b"
						"a c";
}
	
.commentlist li .avatar {
	grid-area: a;
	margin: 0 0 1em 0;
}
	
.commentlist li .fn {
	display: block;
	grid-area: b;
	margin-left: var(--layout-unit);
}
			
.commentlist li .comment-meta {
	grid-area: c;
}
			
.commentlist li .comment-meta a {
	align-self: flex-start;
	background: none;
}

/*  - - - - - - - - MEDIA 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

figure {
	margin: 1em 0 1em;
}
	
figure a {
	display: block;
	text-decoration: none;
}

figure.grid {
	display: grid;
	grid-template-areas:
		"image1 image2 image3"
		"figcaption figcaption figcaption";
}

figure.grid figcaption {
	grid-area: figcaption;
}

figcaption {
	display: block;
	margin-top: 0.5em;
}

img {
	margin: 1em 0;
	max-height: 100vh; /* don’t exceed height of viewport */
	max-width: 100%; /* don’t exceed width of viewport */
}
	
figure img {
	margin-bottom: 0;
}

/* for images with .always-full-height class, remove max-height */
figure.always-full-height img {
	max-height: none;
}

.photos .posts-list {
	margin-top: 1em;
}

.photos .posts-list .photo-post img {
	display: block;
	margin: 0;
}

@media screen and (min-width: 35em) {
	.photos .posts-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
		grid-auto-rows: minmax(12em, auto);
		grid-gap: 0.25em;
		justify-content: space-between;
	}

	/* link act as crop for image */
	.photos .posts-list .photo-post a {
		height: 100%;
		width: 100%;
	}

	.photos .posts-list .photo-post img {
		object-fit: cover;
		height: 100%;
		max-height: none;
		width: 100%;
	}
}

.latest-photos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
}

.latest-photos li a {
	margin-right: 0.25em;
}

.latest-photos li:last-of-type a {
	margin-right: 0;
}

/*  - - - - - - - - COLOUR
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Plug colour variables into here */

body {
	background: hsl(var(--secondary-bg));
	color: hsl(var(--text));
}

a {
	color: hsl(var(--linktext));
	text-decoration: underline;
	text-decoration-color: hsl(var(--brilliant));
	-webkit-text-decoration-color: hsl(var(--brilliant));
}

a:hover, a:active {
	color: hsl(var(--linktext));
	text-decoration: underline;
	text-decoration-color: hsl(var(--brilliant));
	-webkit-text-decoration-color: hsl(var(--brilliant));
	transition: 0.2s;
}

p a:hover, ul a:hover, ol a:hover, figcaption a:hover {
	/* color: darken(hsl(var(--brilliant), .2); */
}

h1 a, h2 a, h3 a, figure a, figure a:hover {
	color: hsl(var(--text));
}

.site-title a {
	background: hsl(var(--secondary-bg));
	color: hsl(var(--text));
	text-decoration: none;
}

.site-header {
	background: hsl(var(--secondary-bg)) 20em repeat;
	background-size: 20em;
}

#content {
	background-color: hsl(var(--primary-bg));
	background-repeat: repeat-x;
	/* source of SVG at root/../tile-transparent.svg encoded at https://yoksel.github.io/url-encoder/ */
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='0' height='0' class='tile-pattern-transparent' viewBox='0 0 400 320' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edecorative tile, semi transparent%3C/title%3E%3Cuse xlink:href='%23tile-pattern-transparent' /%3E%3Cdefs%3E%3C/defs%3E%3Cg id='transparent-tile' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.5'%3E%3Cg transform='translate(-13.000000, -21.000000)'%3E%3Cpath d='M52.4393398,142.56066 C51.8535534,141.974874 51.8535534,141.025126 52.4393398,140.43934 C53.0251263,139.853553 53.9748737,139.853553 54.5606602,140.43934 L134.56691,220.44559 C135.152696,221.031376 135.152696,221.981123 134.56691,222.56691 C133.981123,223.152696 133.031376,223.152696 132.44559,222.56691 L52.4393398,142.56066 Z' id='diagonal-line' class='colour--text' fill='%23444040' fill-rule='nonzero'%3E%3C/path%3E%3Cpath d='M173.06066,302.06066 C172.474874,302.646447 171.525126,302.646447 170.93934,302.06066 C170.353553,301.474874 170.353553,300.525126 170.93934,299.93934 L210.93934,259.93934 C211.525126,259.353553 212.474874,259.353553 213.06066,259.93934 L252,298.87868 L290.93934,259.93934 C291.520142,259.358538 292.460046,259.352876 293.047804,259.926638 L335.043898,300.922731 C335.636699,301.501417 335.648142,302.451096 335.069456,303.043898 C334.49077,303.636699 333.541092,303.648142 332.94829,303.069456 L292.012703,263.108617 L253.06066,302.06066 C252.474874,302.646447 251.525126,302.646447 250.93934,302.06066 L212,263.12132 L173.06066,302.06066 Z' id='zigzag' class='colour--tab-two' fill='%23D7D7D7' fill-rule='nonzero' transform='translate(252.998047, 281.498047) rotate(-180.000000) translate(-252.998047, -281.498047) '%3E%3C/path%3E%3Cpath d='M315.396561,214.04479 C314.604742,214.814918 313.338535,214.797335 312.568406,214.005517 C311.798278,213.213699 311.81586,211.947491 312.607679,211.177363 L328.657061,195.567607 C329.433375,194.812558 330.66963,194.812558 331.445943,195.567607 L346.100885,209.821118 L360.755827,195.567607 C361.525445,194.819069 362.748771,194.811705 363.527346,195.550922 L380.377631,211.549397 C381.178663,212.309937 381.21149,213.575841 380.450951,214.376874 C379.690411,215.177907 378.424507,215.210733 377.623474,214.450194 L362.166966,199.775037 L347.495326,214.04479 C346.719012,214.799838 345.482758,214.799838 344.706444,214.04479 L330.051502,199.791278 L315.396561,214.04479 Z' id='little-zigzag' class='colour--tab-two' fill='%23D7D7D7' fill-rule='nonzero' transform='translate(346.501337, 205.000560) rotate(-30.000000) translate(-346.501337, -205.000560) '%3E%3C/path%3E%3Cpath d='M50.9382667,48.6536575 L33.449414,66.1425101 L31.5048704,63.8444131 L49.8776065,45.471677 C50.4633929,44.8858905 51.4131404,44.8858905 51.9989269,45.471677 L90.9382667,84.4110168 L129.877607,45.471677 C130.458408,44.8908751 131.398313,44.8852127 131.986071,45.4589746 L173.982164,86.4550684 C174.574966,87.0337545 174.586409,87.983433 174.007723,88.5762347 C173.429037,89.1690365 172.479358,89.1804795 171.886557,88.6017934 L130.95097,48.6409542 L91.9989269,87.5929973 C91.4131404,88.1787837 90.4633929,88.1787837 89.8776065,87.5929973 L50.9382667,48.6536575 Z' id='zigzag' class='colour--tab-three' fill='%23D0D0D0' fill-rule='nonzero' transform='translate(102.969616, 67.030384) rotate(-225.000000) translate(-102.969616, -67.030384) '%3E%3C/path%3E%3Cg id='dot-square' transform='translate(173.000000, 101.000000)' class='colour--tab-four' fill='%23C5C6C6'%3E%3Ccircle id='Oval-2' cx='3' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='33' r='3'%3E%3C/circle%3E%3C/g%3E%3Cg id='dot-square' transform='translate(173.000000, 141.000000)' class='colour--tab-four' fill='%23C5C6C6'%3E%3Ccircle id='Oval-2' cx='3' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='33' r='3'%3E%3C/circle%3E%3C/g%3E%3Cg id='dot-square' transform='translate(213.000000, 141.000000)' class='colour--tab-four' fill='%23C5C6C6'%3E%3Ccircle id='Oval-2' cx='3' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='33' r='3'%3E%3C/circle%3E%3C/g%3E%3Cg id='dot-square' transform='translate(405.424621, 305.575379) rotate(-315.000000) translate(-405.424621, -305.575379) translate(387.424621, 277.075379)' class='colour--tab-four' fill='%23C5C6C6'%3E%3Ccircle id='Oval-2' cx='3.70710678' cy='3.69491347' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3.70710678' cy='13.6949135' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13.7071068' cy='13.6949135' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='24' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='24' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='24' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='34' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='34' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='34' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='34' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='44' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='44' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='44' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='44' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='54' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='54' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='54' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='54' r='3'%3E%3C/circle%3E%3C/g%3E%3Cg id='dot-square' transform='translate(27.000000, 285.000000) rotate(-315.000000) translate(-27.000000, -285.000000) translate(9.000000, 267.000000)' class='colour--tab-four' fill='%23C5C6C6'%3E%3Ccircle id='Oval-2' cx='3' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='13' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='3' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='23' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='23' cy='33' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='33' cy='33' r='3'%3E%3C/circle%3E%3C/g%3E%3Cg id='dot-square' transform='translate(12.142136, 313.000000) rotate(-315.000000) translate(-12.142136, -313.000000) translate(4.142136, 305.000000)' class='colour--tab-four' fill='%23C5C6C6'%3E%3Ccircle id='Oval-2' cx='3' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='3' r='3'%3E%3C/circle%3E%3Ccircle id='Oval-2' cx='13' cy='13' r='3'%3E%3C/circle%3E%3C/g%3E%3Cpath d='M162.119891,327.253166 L148.477756,340.895302 C147.891969,341.481088 146.942222,341.481088 146.356435,340.895302 C145.770649,340.309515 145.770649,339.359768 146.356435,338.773981 L159.909619,325.042893 L162.119891,327.253166 Z' id='zigzag-end' class='colour--tab-three' fill='%23D0D0D0' fill-rule='nonzero' transform='translate(154.018493, 333.188767) rotate(-225.000000) translate(-154.018493, -333.188767) '%3E%3C/path%3E%3Cpath d='M313,64 L296,98 L330,98 L313,64 Z M315.683282,62.6583592 L332.683282,96.6583592 C333.680633,98.6530625 332.230146,101 330,101 L296,101 C293.769854,101 292.319367,98.6530625 293.316718,96.6583592 L310.316718,62.6583592 C311.422291,60.4472136 314.577709,60.4472136 315.683282,62.6583592 Z' id='triangle' class='colour--brilliant' fill='%23A2A4A4' fill-rule='nonzero'%3E%3C/path%3E%3Cpath d='M33,184.996129 L16,218.996129 L50,218.996129 L33,184.996129 Z M35.6832816,183.654489 L52.6832816,217.654489 C53.6806332,219.649192 52.2301461,221.996129 50,221.996129 L16,221.996129 C13.7698539,221.996129 12.3193668,219.649192 13.3167184,217.654489 L30.3167184,183.654489 C31.4222912,181.443343 34.5777088,181.443343 35.6832816,183.654489 Z' id='triangle' class='colour--brilliant' fill='%23A2A4A4' fill-rule='nonzero' transform='translate(33.000000, 201.996129) rotate(-90.000000) translate(-33.000000, -201.996129) '%3E%3C/path%3E%3Cpath d='M256.338773,214.546036 L261.133646,224.135782 C261.798547,225.465584 260.831555,227.030209 259.344791,227.030209 L249.755045,227.030209 C248.268281,227.030209 247.30129,225.465584 247.966191,224.135782 L252.761064,214.546036 C253.498112,213.071938 255.601724,213.071938 256.338773,214.546036 Z' id='little-fat-triangle' class='colour--tab-six' fill='%237E8080' fill-rule='nonzero' transform='translate(254.549918, 220.235336) rotate(-330.000000) translate(-254.549918, -220.235336) '%3E%3C/path%3E%3Ccircle id='little-filled-circle' class='colour--text' fill='%23444040' cx='133.5' cy='141.5' r='4.5'%3E%3C/circle%3E%3Cg id='lined-triangle' transform='translate(245.069935, 48.857304) rotate(-62.500000) translate(-245.069935, -48.857304) translate(225.069935, 28.357304)' class='colour--linktext' fill='%23313131' fill-rule='nonzero'%3E%3Cpath d='M20.107902,0.548158132 C20.3574473,0.0554659849 20.9591497,-0.141643421 21.4518419,0.107901953 C21.944534,0.357447326 22.1416434,0.959149721 21.892098,1.45184187 L2.39209805,39.9518419 C2.14255267,40.444534 1.54085028,40.6416434 1.04815813,40.392098 C0.555465985,40.1425527 0.358356579,39.5408503 0.607901953,39.0481581 L20.107902,0.548158132 Z' id='line'%3E%3C/path%3E%3Cpath d='M22.107902,4.54815813 C22.3574473,4.05546598 22.9591497,3.85835658 23.4518419,4.10790195 C23.944534,4.35744733 24.1416434,4.95914972 23.892098,5.45184187 L6.46907561,39.8511426 C6.21953024,40.3438347 5.61782784,40.5409441 5.1251357,40.2913988 C4.63244355,40.0418534 4.43533414,39.440151 4.68487952,38.9474588 L22.107902,4.54815813 Z' id='line'%3E%3C/path%3E%3Cpath d='M24.107902,8.54815813 C24.3574473,8.05546598 24.9591497,7.85835658 25.4518419,8.10790195 C25.944534,8.35744733 26.1416434,8.95914972 25.892098,9.45184187 L10.4571798,39.9259112 C10.2076345,40.4186033 9.60593206,40.6157127 9.11323992,40.3661673 C8.62054777,40.116622 8.42343836,39.5149196 8.67298374,39.0222274 L24.107902,8.54815813 Z' id='line'%3E%3C/path%3E%3Cpath d='M26.107902,12.5481581 C26.3574473,12.055466 26.9591497,11.8583566 27.4518419,12.107902 C27.944534,12.3574473 28.1416434,12.9591497 27.892098,13.4518419 L14.5356524,39.8222601 C14.2861071,40.3149523 13.6844047,40.5120617 13.1917125,40.2625163 C12.6990204,40.012971 12.501911,39.4112686 12.7514563,38.9185764 L26.107902,12.5481581 Z' id='line'%3E%3C/path%3E%3Cpath d='M28.107902,16.5481581 C28.3574473,16.055466 28.9591497,15.8583566 29.4518419,16.107902 C29.944534,16.3574473 30.1416434,16.9591497 29.892098,17.4518419 L18.5237566,39.8970287 C18.2742113,40.3897209 17.6725089,40.5868303 17.1798167,40.3372849 C16.6871246,40.0877395 16.4900152,39.4860372 16.7395605,38.993345 L28.107902,16.5481581 Z' id='line'%3E%3C/path%3E%3Cpath d='M30.107902,20.5481581 C30.3574473,20.055466 30.9591497,19.8583566 31.4518419,20.107902 C31.944534,20.3574473 32.1416434,20.9591497 31.892098,21.4518419 L22.6022292,39.7933777 C22.3526839,40.2860699 21.7509815,40.4831793 21.2582893,40.2336339 C20.7655972,39.9840885 20.5684878,39.3823861 20.8180331,38.889694 L30.107902,20.5481581 Z' id='line'%3E%3C/path%3E%3Cpath d='M32.107902,24.5481581 C32.3574473,24.055466 32.9591497,23.8583566 33.4518419,24.107902 C33.944534,24.3574473 34.1416434,24.9591497 33.892098,25.4518419 L26.5903335,39.8681463 C26.3407881,40.3608385 25.7390857,40.5579479 25.2463935,40.3084025 C24.7537014,40.0588571 24.556592,39.4571547 24.8061374,38.9644626 L32.107902,24.5481581 Z' id='line'%3E%3C/path%3E%3Cpath d='M34.107902,28.5481581 C34.3574473,28.055466 34.9591497,27.8583566 35.4518419,28.107902 C35.944534,28.3574473 36.1416434,28.9591497 35.892098,29.4518419 L30.6688061,39.7644953 C30.4192607,40.2571874 29.8175583,40.4542968 29.3248661,40.2047515 C28.832174,39.9552061 28.6350646,39.3535037 28.88461,38.8608116 L34.107902,28.5481581 Z' id='line'%3E%3C/path%3E%3Cpath d='M36.107902,32.5481581 C36.3574473,32.055466 36.9591497,31.8583566 37.4518419,32.107902 C37.944534,32.3574473 38.1416434,32.9591497 37.892098,33.4518419 L34.6569103,39.8392639 C34.4073649,40.331956 33.8056625,40.5290654 33.3129704,40.2795201 C32.8202782,40.0299747 32.6231688,39.4282723 32.8727142,38.9355802 L36.107902,32.5481581 Z' id='line'%3E%3C/path%3E%3Cpath d='M38.107902,36.5481581 C38.3574473,36.055466 38.9591497,35.8583566 39.4518419,36.107902 C39.944534,36.3574473 40.1416434,36.9591497 39.892098,37.4518419 L38.7353829,39.7356129 C38.4858375,40.228305 37.8841351,40.4254144 37.3914429,40.175869 C36.8987508,39.9263237 36.7016414,39.3246213 36.9511868,38.8319291 L38.107902,36.5481581 Z' id='line'%3E%3C/path%3E%3C/g%3E%3Cpath d='M373.091623,19.908377 L374.243453,21.1265782 L411.687238,58.5659181 C412.273025,59.1517045 412.273025,60.101452 411.687238,60.6872384 C411.101452,61.2730249 410.151705,61.2730249 409.565918,60.6872384 L373.111231,24.232551 L373.091623,19.908377 Z' id='diagonal-line' class='colour--linktext' fill='%23313131' fill-rule='nonzero' transform='translate(392.609101, 40.517478) rotate(-270.000000) translate(-392.609101, -40.517478) '%3E%3C/path%3E%3Cg id='diagonal-line' transform='translate(410.500000, 341.031830) rotate(-270.000000) translate(-410.500000, -341.031830) translate(408.500000, 338.531830)' class='colour--linktext' fill='%23313131' fill-rule='nonzero'%3E%3Cpath d='M0.439339828,2.56066017 C-0.146446609,1.97487373 -0.146446609,1.02512627 0.439339828,0.439339828 C1.02512627,-0.146446609 1.97487373,-0.146446609 2.56066017,0.439339828 L3.68566017,1.56433983 L2.56433983,4.68566017 L0.439339828,2.56066017 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: 20em;
}

.site-footer {
	background: hsl(var(--secondary-bg));
}

hr {
	border: hsl(var(--brilliant)) dashed 0.1em;
	margin: 2em 0;
}

/* invert colours for code */
pre {
	background: hsl(var(--text));
}

pre code {
	color: hsl(var(--primary-bg));
}

.navigation-menu ul {
	background: hsla(var(--tab-five), 0.1);
}

.navigation-menu ul li {
	background: hsl(var(--secondary-bg));
}

.navigation-menu {
	background: hsla(var(--tab-five), 0.1);
}

	/* set active navigation link background colour */
.navigation-menu li.active a {
	background: hsla(var(--primary-bg), 0.5);
	color: hsl(var(--text));
}

.navigation-menu li a:hover, .navigation-menu li a:active {
	text-decoration: underline;
	text-decoration-color: inherit;
	-webkit-text-decoration-color: inherit;
}

/* TODO: might need to replace highlight colour for un-"active" active nav items here */
	
/* links before and after active navigation (relies on order of navigation being reflected) */
body.home .navigation-menu a[href="/about-me/"],
body.kind-404 .navigation-menu a[href="/about-me/"],
body.about-me .navigation-menu a[href="/"],
body.about-me .navigation-menu a[href="/book/"],
body.book .navigation-menu a[href="/about-me/"],
body.book .navigation-menu a[href="/posts/"],
body.blog .navigation-menu a[href="/book/"],
body.blog .navigation-menu a[href="/latest/"],
body.kind-taxonomy .navigation-menu a[href="/book/"],
body.kind-taxonomy .navigation-menu a[href="/latest/"],
body.latest .navigation-menu a[href="/posts/"],
body.latest .navigation-menu a[href="/speaking/"],
body.speaking .navigation-menu a[href="/latest/"],
body.speaking .navigation-menu a[href="/contact-me/"],
body.contact-me .navigation-menu a[href="/speaking/"] {
	background: hsla(var(--tab-two), .8);
	color: hsl(var(--darklinktext));
}

/* links second before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/book/"],
body.kind-404 .navigation-menu a[href="/book/"],
body.about-me .navigation-menu a[href="/posts/"],
body.book .navigation-menu a[href="/"],
body.book .navigation-menu a[href="/latest/"],
body.blog .navigation-menu a[href="/about-me/"],
body.blog .navigation-menu a[href="/speaking/"],
body.kind-taxonomy .navigation-menu a[href="/about-me/"],
body.kind-taxonomy .navigation-menu a[href="/speaking/"],
body.latest .navigation-menu a[href="/book/"],
body.latest .navigation-menu a[href="/contact-me/"],
body.speaking .navigation-menu a[href="/posts/"],
body.contact-me .navigation-menu a[href="/latest/"] {
	background: hsla(var(--tab-three), .8);
	color: hsl(var(--darklinktext));
}

/* links third before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/posts/"],
body.kind-404 .navigation-menu a[href="/posts/"],
body.about-me .navigation-menu a[href="/latest/"],
body.blog .navigation-menu a[href="/"],
body.blog .navigation-menu a[href="/contact-me/"],
body.kind-taxonomy .navigation-menu a[href="/"],
body.kind-taxonomy .navigation-menu a[href="/contact-me/"],
body.book .navigation-menu a[href="/speaking/"],
body.latest .navigation-menu a[href="/about-me/"],
body.speaking .navigation-menu a[href="/book/"],
body.contact-me .navigation-menu a[href="/posts/"] {
	background: hsla(var(--tab-four), .8);
	color: hsl(var(--darklinktext));
}

/* links fourth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/latest/"],
body.kind-404 .navigation-menu a[href="/latest/"],
body.about-me .navigation-menu a[href="/speaking/"],
body.book .navigation-menu a[href="/contact-me/"],
body.latest .navigation-menu a[href="/"],
body.speaking .navigation-menu a[href="/about-me/"],
body.contact-me .navigation-menu a[href="/book/"] {
	background: hsla(var(--tab-five), .8);
	color: hsl(var(--darklinktext));
}

/* links fifth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/speaking/"],
body.kind-404 .navigation-menu a[href="/speaking/"],
body.about-me .navigation-menu a[href="/contact-me/"],
body.latest .navigation-menu a[href="/"],
body.speaking .navigation-menu a[href="/"],
body.contact-me .navigation-menu a[href="/about-me/"] {
	background: hsla(var(--tab-six), .8);
	color: hsl(var(--darklinktext));
}

/* links sixth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/contact-me/"],
body.kind-404 .navigation-menu a[href="/contact-me/"],
body.contact-me .navigation-menu a[href="/"] {
	background: hsla(var(--brilliant), .8);
	color: hsl(var(--darklinktext));
}

/* add colour behind top elements on page so image doesn’t make it hard to read */
#content h1, #content main > h2:nth-of-type(1), #content  .entry-content > p:nth-of-type(1) {
	background: hsl(var(--primary-bg));
	box-shadow: hsl(var(--primary-bg)) 0 0 0 calc(var(--layout-unit)*1.4);
}
		
@media screen and (min-width: 18em) {
	#content h1, #content main > h2:nth-of-type(1), #content  .entry-content > p:nth-of-type(1) {
		box-shadow: hsl(var(--primary-bg)) 0 0 0 calc(var(--layout-unit)*2.6);
	}
}

h1 {
	display: table; /* make background only cover space behind text */
}

/*  - - - - - - - - COLOUR THEMES 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* used in the front matter of pages. kept here for when we need to set without front matter */

/* theme 001 (default theme as defined in variables at top of this style sheet) */
body.colours-001 {
    --primary-bg: 0,0%,91%; /* hsl(0,0%,91%) */
    --secondary-bg: 0,0%,82%; /* hsl(0,0%,82%) */
    --text: 0,4%,26%; /* hsl(0,4%,26%) */
    --linktext: 0,0%,19%; /* hsl(0,0%,19%) */
    --darklinktext: 0,0%,1%; /* hsl(0,0%,1%) */
    --brilliant: 180,1%,50%; /* hsl(180,1%,50%) */
    --tab-two: 0,0%,84%; /* hsl(0,0%,84%) */
    --tab-three: 180,2%,78%; /* hsl(180,2%,78%) */
    --tab-four: 180,2%,71%; /* hsl(180,2%,71%) */
    --tab-five: 0,0%,64%; /* hsl(0,0%,64%) */
    --tab-six: 180,1%,57%; /* hsl(180,1%,57%) */
}

/* theme 004 */
body.colours-004 {
	--primary-bg: 97,100%,90%; /* hsl(97,100%,90%) */
    --secondary-bg: 103,95%,86%; /* hsl(103,95%,86%) */
	--text: 180,100%,18%; /* hsl(180,100%,18%) */
	--linktext: 141,100%,19%; /* hsl(141,100%,19%) */
	--darklinktext: 189,37%,11%; /* hsl(189,37%,11%) */
	--brilliant: 139,100%,31%; /* hsl(139,100%,31%) */
    --tab-two: 114,65%,81%; /* hsl(114,65%,81%) */
    --tab-three: 124,54%,72%; /* hsl(124,54%,72%) */
    --tab-four: 129,50%,62%; /* hsl(129,50%,62%) */
    --tab-five: 134,48%,52%; /* hsl(134,48%,52%) */
    --tab-six: 137,64%,42%; /* hsl(137,64%,42%) */
}

/* theme 005 */
body.colours-005 {
	--primary-bg: 327,100%,96%; /* hsl(327,100%,96%) */
    --secondary-bg: 319,100%,93%; /* hsl(319,100%,93%) */
    --text: 30,58%,27%; /* hsl(30,58%,27%) */
    --linktext: 35,100%,30%; /* hsl(35,100%,30%) */
    --darklinktext: 45,48%,8%; /* hsl(45,48%,8%) */
    --brilliant: 26,49%,48%; /* hsl(26,49%,48%) */
    --tab-two: 354,56%,89%; /* hsl(354,56%,89%) */
    --tab-three: 10,53%,82%; /* hsl(10,53%,82%) */
    --tab-four: 17,46%,73%; /* hsl(17,46%,73%) */
    --tab-five: 21,47%,65%; /* hsl(21,47%,65%) */
    --tab-six: 24,46%,56%; /* hsl(24,46%,56%) */
}

/* theme 006 */
body.colours-006 {
	--primary-bg: 259,100%,95%; /* hsl(259,100%,95%) */
    --secondary-bg: 256,100%,93%; /* hsl(256,100%,93%) */
    --text: 347,48%,35%; /* hsl(347,48%,35%) */
    --linktext: 350,69%,43%; /* hsl(350,69%,43%) */
    --darklinktext: 331,33%,18%; /* hsl(331,33%,18%) */
    --brilliant: 352,100%,67%; /* hsl(352,100%,67%) */
    --tab-two: 317,55%,87%; /* hsl(317,55%,87%) */
    --tab-three: 335,72%,83%; /* hsl(335,72%,83%) */
    --tab-four: 344,81%,79%; /* hsl(344,81%,79%) */
    --tab-five: 346,89%,75%; /* hsl(346,89%,75%) */
    --tab-six: 350,97%,71%; /* hsl(350,97%,71%) */
}

/* theme 007 */
body.colours-007 {
    --primary-bg: 58,95%,83%; /* hsl(58,95%,83%) */
    --secondary-bg: 60,76%,76%; /* hsl(60,76%,76%) */
    --text: 212,47%,25%; /* hsl(212,47%,25%) */
    --linktext: 193,100%,19%; /* hsl(193,100%,19%) */
    --darklinktext: 0,0%,0%; /* hsl(0,0%,0%) */
    --brilliant: 208,100%,44%; /* hsl(208,100%,44%) */
    --tab-two: 83,45%,80%; /* hsl(83,45%,80%) */
    --tab-three: 152,28%,74%; /* hsl(152,28%,74%) */
    --tab-four: 189,37%,64%; /* hsl(189,37%,64%) */
    --tab-five: 200,54%,57%; /* hsl(200,54%,57%) */
	--tab-six: 205,68%,51%; /* hsl(205,68%,51%) */
}

/* theme 008 */
body.colours-008 {
    --primary-bg: 3,100%,92%; /* hsl(3,100%,92%) */
    --secondary-bg: 5,100%,89%; /* hsl(5,100%,89%) */
    --text: 195,100%,20%; /* hsl(195,100%,20%) */
    --linktext: 195,100%,25%; /* hsl(195,100%,25%) */
    --darklinktext: 195,70%,14%; /* hsl(195,70%,14%) */
    --brilliant: 196,100%,42%; /* hsl(196,100%,42%) */
    --tab-two: 278,9%,83%; /* hsl(278,9%,83%) */
    --tab-three: 205,35%,76%; /* hsl(205,35%,76%) */
    --tab-four: 199,52%,67%; /* hsl(199,52%,67%) */
    --tab-five: 197,62%,59%; /* hsl(197,62%,59%) */
    --tab-six: 196,68%,51%; /* hsl(196,68%,51%) */
}

/* theme 009 */
body.colours-009 {
	--primary-bg: 161,100%,90%; /* hsl(161,100%,90%) */
    --secondary-bg: 162,69%,81%; /* hsl(162,69%,81%) */
	--text: 217,55%,36%; /* hsl(217,55%,36%) */
	--linktext: 216,85%,35%; /* hsl(216,85%,35%) */
	--darklinktext: 231,37%,11%; /* hsl(231,37%,11%) */
	--brilliant: 217,90%,60%; /* hsl(217,90%,60%) */
    --tab-two: 185,68%,82%; /* hsl(185,68%,82%) */
    --tab-three: 199,79%,78%; /* hsl(199,79%,78%) */
    --tab-four: 206,82%,73%; /* hsl(206,82%,73%) */
    --tab-five: 211,85%,69%; /* hsl(211,85%,69%) */
    --tab-six: 214,89%,65%; /* hsl(214,89%,65%) */
}

/* theme 010 */
body.colours-010 {
    --primary-bg: 0,0%,95%; /* hsl(0,0%,95%) */
    --secondary-bg: 0,0%,82%; /* hsl(0,0%,82%) */
    --text: 0,0%,21%; /* hsl(0,0%,21%) */
    --linktext: 0,100%,33%; /* hsl(0,100%,33%) */
    --darklinktext: 0,0%,0%; /* hsl(0,0%,0%) */
    --brilliant: 7,81%,49%; /* hsl(7,81%,49%) */
    --tab-two: 6,44%,86%; /* hsl(6,44%,86%) */
    --tab-three: 5,50%,78%; /* hsl(5,50%,78%) */
    --tab-four: 5,55%,70%; /* hsl(5,55%,70%) */
    --tab-five: 6,59%,62%; /* hsl(6,59%,62%) */
    --tab-six: 4,57%,53%; /* hsl(4,57%,53%) */
}

/* theme 013 (Ireland theme) */
body.colours-013 {
	--primary-bg: 97,100%,90%; /* hsl(97,100%,90%) */
    --secondary-bg: 103,95%,86%; /* hsl(103,95%,86%) */
	--text: 25,79%,37%; /* hsl(25,79%,37%) */
	--linktext: 17,80%,32%; /* hsl(17,80%,32%) */
	--darklinktext: 189,37%,11%; /* hsl(189,37%,11%) */
	--brilliant: 139,100%,31%; /* hsl(139,100%,31%) */
    --tab-two: 114,65%,81%; /* hsl(114,65%,81%) */
    --tab-three: 124,54%,72%; /* hsl(124,54%,72%) */
    --tab-four: 129,50%,62%; /* hsl(129,50%,62%) */
    --tab-five: 134,48%,52%; /* hsl(134,48%,52%) */
    --tab-six: 137,64%,42%; /* hsl(137,64%,42%) */
}