@charset "UTF-8";

/*  - - - - - - - - FONTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-medium-webfont.woff2') format('woff2'),
		url('/fonts/informative-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-mediumit-webfont.woff2') format('woff2'),
		url('/fonts/informative-mediumit-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-semibold-webfont.woff2') format('woff2'),
		url('/fonts/informative-semibold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-semiboldit-webfont.woff2') format('woff2'),
		url('/fonts/informative-semiboldit-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informative-black-webfont.woff2') format('woff2'),
		url('/fonts/informative-black-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informative-blackit-webfont.woff2') format('woff2'),
		url('/fonts/informative-blackit-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Overpass";
	src:
		url('/fonts/op-sb-webfont.woff2') format('woff2'),
		url('/fonts/op-sb-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Overpass";
	src:
		url('/fonts/op-b-webfont.woff2') format('woff2'),
		url('/fonts/op-b-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/*  - - - - - - - - VARIABLES
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
    --max-width: 37em;
    /* set a specific variable for left/right margin and padding units */
    /* so it can be consistent throughout site regardless of font size */
    --layout-unit: 1rem;
    --font-family: "Informat", Verdana, sans-serif;
    --font-family-black: "Informat Black", Verdana, sans-serif;
	--font-family-code: "Overpass", monospace;
	/* define colour theme variables that can be overridden on pages */
	--primary-bg: #E9E9E9;
	--secondary-bg: #D0D0D0;
	--text: #444040;
	--linktext: #313131;
	--darklinktext: #020202;
	--brilliant: #7E8080;
	--tab-two: #D7D7D7;
	--tab-three: #C5C6C6;
	--tab-four: #B3B4B4;
	--tab-five: #A2A4A4;
	--tab-six: #909292;
}

/*  - - - - - - - - TYPOGRAPHY
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


html {
	font-size: 100%; /* all font sizes and rems scale from here */
	line-height: 1.35;
}

@media screen and (min-width: 18em) {
    html {
        font-size: 110%; /* all font sizes and rems scale from here */
    }
}
    
@media screen and (min-width: 30em) {
    html {
        font-size: 115%; /* all font sizes and rems scale from here */
    }
}
    
@media screen and (min-width: 35em) {
    html {
        font-size: 135%; /* all font sizes and rems scale from here */
    }
}

body {
	font-family: var(--font-family);
    letter-spacing: -0.02em;
}
	
h1, h2, h3 {
	font-family: var(--font-family-black);
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.1;
	margin: 0 0 0.5em 0;
	margin-left: var(--layout-unit);
    margin-right: var(--layout-unit);
}
	
h1 {
	font-size: 2.5em;
    margin-top: 1em;
}
	
@media screen and (min-width: 35em) {
    h1 {
        font-size: 4em;
    }
}

/* make h1s on Notes and Photos single posts smaller */
.notes article .page-title, .photos article .page-title {
	font-size: 2em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    .notes article .page-title, .photos article .page-title {
		font-size: 2.5em;
    }
}

h2 {
	font-size: 2em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    h2 {
        font-size: 2.5em;
    }
}

h2#latest-photos, h2#latest-notes {
    margin-top: 1em;
}

/* make h2s on notes smaller */
.notes main h2 {
	font-size: 1.75em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    .notes main h2 {
        font-size: 2em;
    }
}
	
h1, h1 a, h2, h2 a {
	/* for really big text or long words */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    hyphens: auto;
}
	
h3, footer h2 {
	font-size: 1.75em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    h3, footer h2 {
        font-size: 2em;
    }
}
	
h4, h5, h6 {
	font-style: italic;
	margin: 0 0 0.5em 0;
	margin-left: var(--layout-unit);
    margin-right: var(--layout-unit);
}
	
h4 {
	font-size: 1.5em;
}

@media screen and (min-width: 35em) {
    h4 {
        font-size: 1.75em;
    }
}

h5 {
	font-size: 1.25em;
}

@media screen and (min-width: 35em) {
    h5 {
        font-size: 1.5em;
    }
}

h6 {
	font-size: 1.2em;
}

@media screen and (min-width: 35em) {
    h6 {
        font-size: 1.25em;
    }
}

p {
    margin: 0 var(--layout-unit) 0.5em var(--layout-unit);
}
	
a {
	/* for really long URLs */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    hyphens: auto;
}
	
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
	font-family: var(--font-family-code);
	/* give Overpass monospace font same x-height as Informative */
    font-size: 0.95em;
}
	
small {
    font-size: 0.9em;
}
	
small a {
    text-decoration: none;
}
		
blockquote {
    font-style: italic;
}

.entry-meta {
    font-size: 1.25em;
}

.entry-notes {
    font-size: 0.9em;
}
	
figcaption, .site-footer p, .site-footer small, .note {
    font-size: 0.9em;
}
	
.site-title {
	font-style: italic;
    text-transform: uppercase;
}

/*  - - - - - - - - LAYOUT
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*  - - - - - - - - NAKED ELEMENTS */

body {
	margin: 0;
}

p, small {
	max-width: var(--max-width);
}
		
ul, ol {
	margin: 1em var(--layout-unit);
	padding-left: var(--layout-unit);
}

blockquote {
	margin: 1em var(--layout-unit);
}

pre {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	border: none;
	margin: 1em 0;
	max-width: calc(var(--max-width)*1.195);
	overflow-x: scroll;
	overflow-y: visible;
	padding: 2em var(--layout-unit) 3em var(--layout-unit);
}

/*  - - - - - - - - CUSTOM COMPONENTS (CLASSES AND IDs) */

/*  - - - - - - - - HEADER */

.site-header {
	/* to clear contained margins */
	padding: 0.5em 0 0 0;
}

.site-title {
	margin-top: 0;
	margin-bottom: 0.1em;
}
	
.site-title a {
	text-decoration: none;
}

/*  - - - - - - - - MAIN */

#content {
/* to clear contained margins */
	padding: 0.5em 0 4.5em;
}

.entry-notes {
	padding-top: 2em;
}

.notes-list .entry-notes, .posts-list .entry-notes {
	padding-top: 0.5em;
}

/*  - - - - - - - - FOOTER */
	
.site-footer {
/* to clear contained margins */
	padding: 0.5em 0;
}
		
.site-footer p, .site-footer small, .note, figcaption p {
	margin-right: var(--layout-unit);
	margin-left: var(--layout-unit);
}

/*  - - - - - - - - NAVIGATION
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.skip-link {
	display: block;
	padding: 0.25em 1em;
	position: absolute;
	right: 0;
	top: -10em;
}

.navigation-menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-menu ul a {
	display: block;
	padding: calc(var(--layout-unit)/2) var(--layout-unit);
	text-decoration: none;
}
	
@media screen and (min-width: 35em) {
	.navigation-menu ul a {
		padding: calc(var(--layout-unit)/2) var(--layout-unit);
	}
}

/*  - - - - - - - - BLOG
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.posts-list, .resources-list, .notes-list {
	margin: 0;
	padding-left: 0;
}

.posts-list li, .resources-list li, .notes-list li {
	list-style-type: none
}

.posts-list ul li, .resources-list ul li, .notes-list ul li {
	list-style-type: disc;
}
		
.posts-list ol li, .resources-list ol li, .notes-list ol li {
	list-style-type: decimal;
}

.posts-list h2 a, .resources-list h2 a, .notes-list h2 a,
.posts-list h3 a, .resources-list h3 a, .notes-list h3 a {
	text-decoration: none;
}
			
.posts-list .entry-meta, .resources-list .entry-meta, .notes-list .entry-meta {
	font-family: var(--font-family-black);
	font-weight: bold;
}

main article .entry-meta {
	font-family: var(--font-family-black);
	font-weight: bold;
}

.resources-list li {
	margin-left: var(--layout-unit);
}

.commentlist {
	margin-top: 2em;
	padding-left: 0;
}
	
.commentlist li {
	list-style-type: none;
	margin-bottom: 3em;
	padding-left: 0;
}
	
.commentlist li .comment-author {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "a b"
						"a c";
}
	
.commentlist li .avatar {
	grid-area: a;
	margin: 0 0 1em 0;
}
	
.commentlist li .fn {
	display: block;
	grid-area: b;
	margin-left: var(--layout-unit);
}
			
.commentlist li .comment-meta {
	grid-area: c;
}
			
.commentlist li .comment-meta a {
	align-self: flex-start;
	background: none;
}

/*  - - - - - - - - MEDIA 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

figure {
	margin: 1em 0 1em;
}
	
figure a {
	display: block;
	text-decoration: none;
}

figure.grid {
	display: grid;
	grid-template-areas:
		"image1 image2 image3"
		"figcaption figcaption figcaption";
}

figure.grid figcaption {
	grid-area: figcaption;
}

figcaption {
	display: block;
	margin-top: 0.5em;
}

img {
	margin: 1em 0;
	max-height: 100vh; /* don’t exceed height of viewport */
	max-width: 100%; /* don’t exceed width of viewport */
}
	
figure img {
	margin-bottom: 0;
}

/* for images with .always-full-height class, remove max-height */
figure.always-full-height img {
	max-height: none;
}

.photos .posts-list {
	margin-top: 1em;
}

.photos .posts-list .photo-post img {
	display: block;
	margin: 0;
}

@media screen and (min-width: 35em) {
	.photos .posts-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
		grid-auto-rows: minmax(12em, auto);
		grid-gap: 0.25em;
		justify-content: space-between;
	}

	/* link act as crop for image */
	.photos .posts-list .photo-post a {
		height: 100%;
		width: 100%;
	}

	.photos .posts-list .photo-post img {
		object-fit: cover;
		height: 100%;
		max-height: none;
		width: 100%;
	}
}

.latest-photos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
}

.latest-photos li a {
	margin-right: 0.25em;
}

.latest-photos li:last-of-type a {
	margin-right: 0;
}

/*  - - - - - - - - COLOUR
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Plug colour variables into here */

body {
	background: var(--secondary-bg);
	color: var(--text);
}

a {
	color: var(--linktext);
	text-decoration: underline;
	text-decoration-color: var(--brilliant);
	-webkit-text-decoration-color: var(--brilliant);
}

a:hover, a:active {
	color: var(--linktext);
	text-decoration: underline;
	text-decoration-color: var(--brilliant);
	-webkit-text-decoration-color: var(--brilliant);
	transition: 0.2s;
}

p a:hover, ul a:hover, ol a:hover, figcaption a:hover {
	color: darken(var(--brilliant), .2);
}

h1 a, h2 a, h3 a, figure a, figure a:hover {
	color: var(--text);
}

.site-title a {
	background: var(--secondary-bg);
	color: var(--text);
	text-decoration: none;
}

.site-footer {
	background: var(--secondary-bg);
}

hr {
	border: var(--brilliant) dashed 0.1em;
	margin: 2em 0;
}

/* invert colours for code */
pre {
	background: var(--text);
}

pre code {
	color: var(--primary-bg);
}

.navigation-menu ul {
	background: alpha(var(--tab-five), 0.1);
}

.navigation-menu ul li {
	background: var(--secondary-bg);
}

.navigation-menu {
	background: alpha(var(--tab-five), 0.1);
}

	/* set active navigation link background colour */
.navigation-menu li.active a {
	background: alpha(var(--primary-bg), 0.5);
	color: var(--text);
}

.navigation-menu li a:hover, .navigation-menu li a:active {
	text-decoration: underline;
	text-decoration-color: inherit;
	-webkit-text-decoration-color: inherit;
}

/* TODO: might need to replace highlight colour for un-"active" active nav items here */
	
/* links before and after active navigation (relies on order of navigation being reflected) */
body.home .navigation-menu a[href="/about-me/"],
body.kind-404 .navigation-menu a[href="/about-me/"],
body.about-me .navigation-menu a[href="/"],
body.about-me .navigation-menu a[href="/book/"],
body.book .navigation-menu a[href="/about-me/"],
body.book .navigation-menu a[href="/posts/"],
body.blog .navigation-menu a[href="/book/"],
body.blog .navigation-menu a[href="/latest/"],
body.kind-taxonomy .navigation-menu a[href="/book/"],
body.kind-taxonomy .navigation-menu a[href="/latest/"],
body.latest .navigation-menu a[href="/posts/"],
body.latest .navigation-menu a[href="/speaking/"],
body.speaking .navigation-menu a[href="/latest/"],
body.speaking .navigation-menu a[href="/contact-me/"],
body.contact-me .navigation-menu a[href="/speaking/"] {
	background alpha(var(--tab-two), .8);
	color: var(--darklinktext);
}

/* links second before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/book/"],
body.kind-404 .navigation-menu a[href="/book/"],
body.about-me .navigation-menu a[href="/posts/"],
body.book .navigation-menu a[href="/"],
body.book .navigation-menu a[href="/latest/"],
body.blog .navigation-menu a[href="/about-me/"],
body.blog .navigation-menu a[href="/speaking/"],
body.kind-taxonomy .navigation-menu a[href="/about-me/"],
body.kind-taxonomy .navigation-menu a[href="/speaking/"],
body.latest .navigation-menu a[href="/book/"],
body.latest .navigation-menu a[href="/contact-me/"],
body.speaking .navigation-menu a[href="/posts/"],
body.contact-me .navigation-menu a[href="/latest/"] {
	background alpha(var(--tab-three), .8);
	color: var(--darklinktext);
}

/* links third before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/posts/"],
body.kind-404 .navigation-menu a[href="/posts/"],
body.about-me .navigation-menu a[href="/latest/"],
body.blog .navigation-menu a[href="/"],
body.blog .navigation-menu a[href="/contact-me/"],
body.kind-taxonomy .navigation-menu a[href="/"],
body.kind-taxonomy .navigation-menu a[href="/contact-me/"],
body.book .navigation-menu a[href="/speaking/"],
body.latest .navigation-menu a[href="/about-me/"],
body.speaking .navigation-menu a[href="/book/"],
body.contact-me .navigation-menu a[href="/posts/"] {
	background alpha(var(--tab-four), .8);
	color: var(--darklinktext);
}

/* links fourth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/latest/"],
body.kind-404 .navigation-menu a[href="/latest/"],
body.about-me .navigation-menu a[href="/speaking/"],
body.book .navigation-menu a[href="/contact-me/"],
body.latest .navigation-menu a[href="/"],
body.speaking .navigation-menu a[href="/about-me/"],
body.contact-me .navigation-menu a[href="/book/"] {
	background alpha(var(--tab-five), .8);
	color: var(--darklinktext);
}

/* links fifth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/speaking/"],
body.kind-404 .navigation-menu a[href="/speaking/"],
body.about-me .navigation-menu a[href="/contact-me/"],
body.latest .navigation-menu a[href="/"],
body.speaking .navigation-menu a[href="/"],
body.contact-me .navigation-menu a[href="/about-me/"] {
	background alpha(var(--tab-six), .8);
	color: var(--darklinktext);
}

/* links sixth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/contact-me/"],
body.kind-404 .navigation-menu a[href="/contact-me/"],
body.contact-me .navigation-menu a[href="/"] {
	background alpha(var(--brilliant), .8);
	color: var(--darklinktext);
}

/* add colour behind top elements on page so image doesn’t make it hard to read */
#content h1, #content main > h2:nth-of-type(1), #content  .entry-content > p:nth-of-type(1) {
	background: var(--primary-bg);
	box-shadow: var(--primary-bg) 0 0 0 calc(var(--layout-unit)*1.4);
}
		
@media screen and (min-width: 18em) {
	#content h1, #content main > h2:nth-of-type(1), #content  .entry-content > p:nth-of-type(1) {
		box-shadow: var(--primary-bg) 0 0 0 calc(var(--layout-unit)*2.6);
	}
}

h1 {
	display: table; /* make background only cover space behind text */
}
