@charset "UTF-8";

/*  - - - - - - - - FONTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-medium-webfont.woff2') format('woff2'),
		url('/fonts/informative-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-mediumit-webfont.woff2') format('woff2'),
		url('/fonts/informative-mediumit-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-semibold-webfont.woff2') format('woff2'),
		url('/fonts/informative-semibold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informative-semiboldit-webfont.woff2') format('woff2'),
		url('/fonts/informative-semiboldit-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informative-black-webfont.woff2') format('woff2'),
		url('/fonts/informative-black-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informative-blackit-webfont.woff2') format('woff2'),
		url('/fonts/informative-blackit-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Overpass";
	src:
		url('/fonts/op-sb-webfont.woff2') format('woff2'),
		url('/fonts/op-sb-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Overpass";
	src:
		url('/fonts/op-b-webfont.woff2') format('woff2'),
		url('/fonts/op-b-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/*  - - - - - - - - VARIABLES
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
    --max-width: 37em;
    /* set a specific variable for left/right margin and padding units */
    /* so it can be consistent throughout site regardless of font size */
    --layout-unit: 1rem;
    --font-family: "Informat", Verdana, sans-serif;
    --font-family-black: "Informat Black", Verdana, sans-serif;
	--font-family-code: "Overpass", monospace;
	/* default colour theme variables that can be overridden on pages */
	--primary-bg: 0,0%,91%; /* hsl(0,0%,91%) */
	--secondary-bg: 0,0%,82%; /* hsl(0,0%,82%) */
	--text: 0,4%,26%; /* hsl(0,4%,26%) */
	--linktext: 0,0%,19%; /* hsl(0,0%,19%) */
	--darklinktext: 0,0%,1%; /* hsl(0,0%,1%) */
	--brilliant: 180,1%,50%; /* hsl(180,1%,50%) */
	--tab-two: 0,0%,84%; /* hsl(0,0%,84%) */
	--tab-three: 180,2%,78%; /* hsl(180,2%,78%) */
	--tab-four: 180,2%,71%; /* hsl(180,2%,71%) */
	--tab-five: 0,0%,64%; /* hsl(0,0%,64%) */
	--tab-six: 180,1%,57%; /* hsl(180,1%,57%) */
}

/*  - - - - - - - - NAKED ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


html {
	font-size: 100%; /* all font sizes and rems scale from here */
	line-height: 1.35;
}

@media screen and (min-width: 18em) {
    html {
        font-size: 110%; /* all font sizes and rems scale from here */
    }
}
    
@media screen and (min-width: 30em) {
    html {
        font-size: 115%; /* all font sizes and rems scale from here */
    }
}
    
@media screen and (min-width: 35em) {
    html {
        font-size: 135%; /* all font sizes and rems scale from here */
    }
}

body {
	background: hsl(var(--secondary-bg));
	color: hsl(var(--text));
	font-family: var(--font-family);
	letter-spacing: -0.02em;
	margin: 0;
}
	
h1, h2, h3 {
	font-family: var(--font-family-black);
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.1;
	margin: 0 0 0.5em 0;
	margin-left: var(--layout-unit);
    margin-right: var(--layout-unit);
}
	
h1 {
	display: table; /* make background only cover space behind text */
	font-size: 2.5em;
    margin-top: 1em;
}
	
@media screen and (min-width: 35em) {
    h1 {
        font-size: 4em;
    }
}

/* make h1s on Notes and Photos single posts smaller */
.notes article .page-title, .photos article .page-title {
	font-size: 2em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    .notes article .page-title, .photos article .page-title {
		font-size: 2.5em;
    }
}

h2 {
	font-size: 2em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    h2 {
        font-size: 2.5em;
    }
}

h2#latest-photos, h2#latest-notes {
    margin-top: 1em;
}

/* make h2s on notes smaller */
.notes main h2 {
	font-size: 1.75em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    .notes main h2 {
        font-size: 2em;
    }
}
	
h1, h1 a, h2, h2 a {
	/* for really big text or long words */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    hyphens: auto;
}
	
h3, footer h2 {
	font-size: 1.75em;
	margin-top: 2em;
}

@media screen and (min-width: 35em) {
    h3, footer h2 {
        font-size: 2em;
    }
}
	
h4, h5, h6 {
	font-style: italic;
	margin: 1em 0 0.5em 0;
	margin-left: var(--layout-unit);
    margin-right: var(--layout-unit);
}
	
h4 {
	font-size: 1.25em;
}

@media screen and (min-width: 35em) {
    h4 {
        font-size: 1.5em;
    }
}

h5 {
	font-size: 1.15em;
}

@media screen and (min-width: 35em) {
    h5 {
        font-size: 1.25em;
    }
}

h6 {
	font-size: 1.1em;
}

@media screen and (min-width: 35em) {
    h6 {
        font-size: 1.05em;
    }
}

p {
    margin: 0 var(--layout-unit) 0.5em var(--layout-unit);
}
	
a {
	color: hsl(var(--linktext));
	text-decoration: underline;
	text-decoration-color: hsl(var(--brilliant));
	-webkit-text-decoration-color: hsl(var(--brilliant));
	/* for really long URLs */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    hyphens: auto;
}

a:hover, a:active {
	color: hsl(var(--brilliant));
	text-decoration: underline;
	text-decoration-color: hsl(var(--brilliant));
	-webkit-text-decoration-color: hsl(var(--brilliant));
	transition: 0.2s;
}

abbr {
	color: hsl(var(--linktext));
	border-bottom: 0.08em dotted hsl(var(--brilliant));
	display: inline-block;
	line-height: 0.7em; /* bring underline closer to text */
}
	
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
	font-family: var(--font-family-code);
	/* give Overpass monospace font same x-height as Informative */
    font-size: 0.95em;
}

ul, ol {
	margin: 1em var(--layout-unit);
	padding-left: var(--layout-unit);
}

p, small {
	max-width: var(--max-width);
}
	
small {
    font-size: 0.9em;
}
	
small a {
    text-decoration: none;
}
		
blockquote {
    font-style: italic;
	margin: 1em var(--layout-unit);
}

pre {
	/* invert colours for code */
	background: hsl(var(--text));
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	border: none;
	margin: 1em 0;
	max-width: calc(var(--max-width)*1.195);
	overflow-x: scroll;
	overflow-y: visible;
	padding: 2em var(--layout-unit) 3em var(--layout-unit);
}

/* invert colours for code */
pre code {
	color: hsl(var(--primary-bg));
}

hr {
	border: hsl(var(--brilliant)) dashed 0.1em;
	margin: 2em 0;
}

/* when the hr is in a summary, make it a bit more subtle/not full width */
hr {
	border: hsl(var(--brilliant)) dashed 0.075em;
	margin: 1em var(--layout-unit);
	max-width: var(--max-width);
}

/*  - - - - - - - - CLASSES AND IDs
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

h1 a, h2 a, h3 a, figure a, figure a:hover {
	color: hsl(var(--text));
}

.entry-meta {
    font-size: 1.25em;
}

.entry-notes {
    font-size: 0.9em;
}
	
figcaption, .site-footer p, .site-footer small, .note {
    font-size: 0.9em;
}
	
.site-title {
	font-style: italic;
    text-transform: uppercase;
}

.site-header {
	background: hsl(var(--secondary-bg));
	/* to clear contained margins */
	padding: 0.5em 0 0 0;
}


.site-title {
	margin-top: 0;
	margin-bottom: 0.1em;
	position: relative; /* allow absolute positioning inside */
	z-index: 1;
}
	
.site-title a {
	background: hsl(var(--secondary-bg));
	color: hsl(var(--text));
	text-decoration: none;
}

/*  - - - - - - - - MAIN */

#content {
	background: hsl(var(--primary-bg));
	/* to clear contained margins */
	padding: 0.5em 0 4.5em;
	/* to make svg stay below content */
	position: relative;
	z-index: 2;
}

.entry-notes {
	padding-top: 2em;
}

.notes-list .entry-notes, .posts-list .entry-notes {
	padding-top: 0.5em;
}

/*  - - - - - - - - FOOTER */
	
.site-footer {
	background: hsl(var(--secondary-bg));
	/* to clear contained margins */
	padding: 0.5em 0;
}
		
.site-footer p, .site-footer small, .note, figcaption p {
	margin-right: var(--layout-unit);
	margin-left: var(--layout-unit);
}

/*  - - - - - - - - NAVIGATION
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.skip-link {
	display: block;
	padding: 0.25em 1em;
	position: absolute;
	right: 0;
	top: -10em;
}

.navigation-menu {
	background: hsla(var(--tab-five), 0.1);
}

.navigation-menu ul {
	background: hsla(var(--tab-five), 0.1);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-menu ul li {
	background: hsl(var(--secondary-bg));
}

.navigation-menu ul a {
	display: block;
	padding: calc(var(--layout-unit)/2) var(--layout-unit);
	text-decoration: none;
}
	
@media screen and (min-width: 35em) {
	.navigation-menu ul a {
		padding: calc(var(--layout-unit)/2) var(--layout-unit);
	}
}


/* set active navigation link background colour */
.navigation-menu li.active a, body.blog .navigation-menu a[href="/posts/"], body.latest .navigation-menu a[href="/latest/"] {
	background: hsla(var(--primary-bg), 0.5);
	color: hsl(var(--text));
}

.navigation-menu li a:hover, .navigation-menu li a:active {
	text-decoration: underline;
	text-decoration-color: currentcolor;
	-webkit-text-decoration-color: currentcolor;
}

/* links before and after active navigation (relies on order of navigation being reflected) */
body.home .navigation-menu a[href="/about-me/"],
body.kind-404 .navigation-menu a[href="/about-me/"],
body.about-me .navigation-menu a[href="/"],
body.about-me .navigation-menu a[href="/book/"],
body.book .navigation-menu a[href="/about-me/"],
body.book .navigation-menu a[href="/posts/"],
body.blog .navigation-menu a[href="/book/"],
body.blog .navigation-menu a[href="/latest/"],
body.kind-taxonomy .navigation-menu a[href="/book/"],
body.kind-taxonomy .navigation-menu a[href="/latest/"],
body.latest .navigation-menu a[href="/posts/"],
body.latest .navigation-menu a[href="/speaking/"],
body.speaking .navigation-menu a[href="/latest/"],
body.speaking .navigation-menu a[href="/contact-me/"],
body.contact-me .navigation-menu a[href="/speaking/"] {
	background: hsla(var(--tab-two), .8);
	color: hsl(var(--darklinktext));
}

/* links second before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/book/"],
body.kind-404 .navigation-menu a[href="/book/"],
body.about-me .navigation-menu a[href="/posts/"],
body.book .navigation-menu a[href="/"],
body.book .navigation-menu a[href="/latest/"],
body.blog .navigation-menu a[href="/about-me/"],
body.blog .navigation-menu a[href="/speaking/"],
body.kind-taxonomy .navigation-menu a[href="/about-me/"],
body.kind-taxonomy .navigation-menu a[href="/speaking/"],
body.latest .navigation-menu a[href="/book/"],
body.latest .navigation-menu a[href="/contact-me/"],
body.speaking .navigation-menu a[href="/posts/"],
body.contact-me .navigation-menu a[href="/latest/"] {
	background: hsla(var(--tab-three), .8);
	color: hsl(var(--darklinktext));
}

/* links third before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/posts/"],
body.kind-404 .navigation-menu a[href="/posts/"],
body.about-me .navigation-menu a[href="/latest/"],
body.blog .navigation-menu a[href="/"],
body.blog .navigation-menu a[href="/contact-me/"],
body.kind-taxonomy .navigation-menu a[href="/"],
body.kind-taxonomy .navigation-menu a[href="/contact-me/"],
body.book .navigation-menu a[href="/speaking/"],
body.latest .navigation-menu a[href="/about-me/"],
body.speaking .navigation-menu a[href="/book/"],
body.contact-me .navigation-menu a[href="/posts/"] {
	background: hsla(var(--tab-four), .8);
	color: hsl(var(--darklinktext));
}

/* links fourth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/latest/"],
body.kind-404 .navigation-menu a[href="/latest/"],
body.about-me .navigation-menu a[href="/speaking/"],
body.book .navigation-menu a[href="/contact-me/"],
body.latest .navigation-menu a[href="/"],
body.speaking .navigation-menu a[href="/about-me/"],
body.contact-me .navigation-menu a[href="/book/"] {
	background: hsla(var(--tab-five), .8);
	color: hsl(var(--darklinktext));
}

/* links fifth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/speaking/"],
body.kind-404 .navigation-menu a[href="/speaking/"],
body.about-me .navigation-menu a[href="/contact-me/"],
body.latest .navigation-menu a[href="/"],
body.speaking .navigation-menu a[href="/"],
body.contact-me .navigation-menu a[href="/about-me/"] {
	background: hsla(var(--tab-six), .8);
	color: hsl(var(--darklinktext));
}

/* links sixth before and after active navigation */
/* darken text accordingly */
body.home .navigation-menu a[href="/contact-me/"],
body.kind-404 .navigation-menu a[href="/contact-me/"],
body.contact-me .navigation-menu a[href="/"] {
	background: hsla(var(--brilliant), .8);
	color: hsl(var(--darklinktext));
}

/* add colour behind top elements on page so image doesn’t make it hard to read */
#content h1, #content h2, #content .entry-content > p:nth-of-type(1) {
	background: hsl(var(--primary-bg));
	box-shadow: hsl(var(--primary-bg)) 0 0 0 calc(var(--layout-unit)*0.5);
	position: relative; /* so we can use z-index */
	z-index: 2;
}
		
@media screen and (min-width: 18em) {
	#content h1, #content main > h2:nth-of-type(1), #content  .entry-content > p:nth-of-type(1) {
		box-shadow: hsl(var(--primary-bg)) 0 0 0 calc(var(--layout-unit)*0.5);
	}
}

/*  - - - - - - - - VIEW-SPECIFIC
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*  - - - - - - - - BLOG
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.posts-list, .resources-list, .notes-list {
	margin: 0;
	padding-left: 0;
}

.posts-list li, .resources-list li, .notes-list li {
	list-style-type: none
}

.posts-list ul li, .resources-list ul li, .notes-list ul li {
	list-style-type: disc;
}
		
.posts-list ol li, .resources-list ol li, .notes-list ol li {
	list-style-type: decimal;
}

.posts-list h2 a, .resources-list h2 a, .notes-list h2 a,
.posts-list h3 a, .resources-list h3 a, .notes-list h3 a {
	text-decoration: none;
}
			
.posts-list .entry-meta, .resources-list .entry-meta, .notes-list .entry-meta {
	font-family: var(--font-family-black);
	font-weight: bold;
}

.entry-content ul, .entry-content ol {
	max-width: var(--max-width);
}

main article .entry-meta {
	font-family: var(--font-family-black);
	font-weight: bold;
}

.resources-list li {
	margin-left: var(--layout-unit);
}

.commentlist {
	margin-top: 2em;
	padding-left: 0;
}
	
.commentlist li {
	list-style-type: none;
	margin-bottom: 3em;
	padding-left: 0;
}
	
.commentlist li .comment-author {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "a b"
						"a c";
}
	
.commentlist li .avatar {
	grid-area: a;
	margin: 0 0 1em 0;
}
	
.commentlist li .fn {
	display: block;
	grid-area: b;
	margin-left: var(--layout-unit);
}
			
.commentlist li .comment-meta {
	grid-area: c;
}
			
.commentlist li .comment-meta a {
	align-self: flex-start;
	background: none;
}

/*  - - - - - - - - MEDIA 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

img {
	margin: 1em 0;
	height: auto; /* fill ratio-appropriate space compared to width */
	max-width: 100%; /* don’t exceed width of viewport, flex to available space when viewport is resized */
}
	
figure img {
	margin-bottom: 0;
}

figure {
	margin: 1em 0 1em;
}
	
figure a {
	display: block;
	text-decoration: none;
}

figure.grid.two {
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 50% 50%;
	grid-template-areas: 	"image1 	image2"
							"figcaption	figcaption";
}

figure.grid.three {
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 	"image1 	image2 		image 3"
							"figcaption	figcaption	figcaption";
}

figure.grid.four {
	display: grid;
	grid-template-rows: 1fr 1fr auto;
	grid-template-columns: 50% 50%;
	grid-template-areas: 	"image1		image2"
							"image3		image4"
							"figcaption	figcaption";
}

figure.grid img {
	object-fit: cover;
	height: auto;
}

figure.grid img:nth-of-type(1) {
	grid-area: image1;
}

figure.grid img:nth-of-type(2) {
	grid-area: image2;
}

figure.grid img:nth-of-type(3) {
	grid-area: image3;
}

figure.grid img:nth-of-type(4) {
	grid-area: image4;
}

figure.grid figcaption {
	grid-area: figcaption;
}

figcaption {
	display: block;
	margin-top: 0.5em;
}

.latest-photos {
	margin-top: 1em;
}

.latest-photos .photo-post img {
	display: block;
	margin: 0;
}

@media screen and (min-width: 15em) {
	.latest-photos {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
		grid-auto-rows: minmax(12em, auto);
		grid-gap: 0.25em;
		justify-content: space-between;
	}

}

/*  - - - - - - - - SVG TILE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* SVGs are included in the HTML because otherwise they can’t pick up from the CSS variables */

.tilett, .tilet {
	display: block;
	height: 15em;
	margin-top: -0.5em; /* offset top margin */
	position: absolute;
	width: 100%;
	z-index: 1;
}

.tilett {
	z-index: -1; /* position behind everything */
}

main, .site-header {
	position: relative; /* allow absolute positioning inside */
}

.site-header .tilet {
	height: 3.4em; /* height of title */
	margin-top: -1em; /* offset top margin */
}

@media screen and (min-width: 35em) {
	.site-header .tilet {
		height: 4em; /* height of title */
	}
}

/*  - - - - - - - - COLOUR THEMES 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* used in the front matter of pages. kept here for when we need to set without front matter */

/* theme 001 (default theme as defined in variables at top of this style sheet) */
body.colours-001 {
    --primary-bg: 0,0%,91%; /* hsl(0,0%,91%) */
    --secondary-bg: 0,0%,82%; /* hsl(0,0%,82%) */
    --text: 0,4%,26%; /* hsl(0,4%,26%) */
    --linktext: 0,0%,19%; /* hsl(0,0%,19%) */
    --darklinktext: 0,0%,1%; /* hsl(0,0%,1%) */
    --brilliant: 180,1%,50%; /* hsl(180,1%,50%) */
    --tab-two: 0,0%,84%; /* hsl(0,0%,84%) */
    --tab-three: 180,2%,78%; /* hsl(180,2%,78%) */
    --tab-four: 180,2%,71%; /* hsl(180,2%,71%) */
    --tab-five: 0,0%,64%; /* hsl(0,0%,64%) */
    --tab-six: 180,1%,57%; /* hsl(180,1%,57%) */
}

/* theme 004 */
body.colours-004 {
	--primary-bg: 97,100%,90%; /* hsl(97,100%,90%) */
    --secondary-bg: 103,95%,86%; /* hsl(103,95%,86%) */
	--text: 180,100%,18%; /* hsl(180,100%,18%) */
	--linktext: 141,100%,19%; /* hsl(141,100%,19%) */
	--darklinktext: 189,37%,11%; /* hsl(189,37%,11%) */
	--brilliant: 139,100%,31%; /* hsl(139,100%,31%) */
    --tab-two: 114,65%,81%; /* hsl(114,65%,81%) */
    --tab-three: 124,54%,72%; /* hsl(124,54%,72%) */
    --tab-four: 129,50%,62%; /* hsl(129,50%,62%) */
    --tab-five: 134,48%,52%; /* hsl(134,48%,52%) */
    --tab-six: 137,64%,42%; /* hsl(137,64%,42%) */
}

/* theme 005 */
body.colours-005 {
	--primary-bg: 327,100%,96%; /* hsl(327,100%,96%) */
    --secondary-bg: 319,100%,93%; /* hsl(319,100%,93%) */
    --text: 30,58%,27%; /* hsl(30,58%,27%) */
    --linktext: 35,100%,30%; /* hsl(35,100%,30%) */
    --darklinktext: 45,48%,8%; /* hsl(45,48%,8%) */
    --brilliant: 26,49%,48%; /* hsl(26,49%,48%) */
    --tab-two: 354,56%,89%; /* hsl(354,56%,89%) */
    --tab-three: 10,53%,82%; /* hsl(10,53%,82%) */
    --tab-four: 17,46%,73%; /* hsl(17,46%,73%) */
    --tab-five: 21,47%,65%; /* hsl(21,47%,65%) */
    --tab-six: 24,46%,56%; /* hsl(24,46%,56%) */
}

/* theme 006 */
body.colours-006 {
	--primary-bg: 259,100%,95%; /* hsl(259,100%,95%) */
    --secondary-bg: 256,100%,93%; /* hsl(256,100%,93%) */
    --text: 347,48%,35%; /* hsl(347,48%,35%) */
    --linktext: 350,69%,43%; /* hsl(350,69%,43%) */
    --darklinktext: 331,33%,18%; /* hsl(331,33%,18%) */
    --brilliant: 352,100%,67%; /* hsl(352,100%,67%) */
    --tab-two: 317,55%,87%; /* hsl(317,55%,87%) */
    --tab-three: 335,72%,83%; /* hsl(335,72%,83%) */
    --tab-four: 344,81%,79%; /* hsl(344,81%,79%) */
    --tab-five: 346,89%,75%; /* hsl(346,89%,75%) */
    --tab-six: 350,97%,71%; /* hsl(350,97%,71%) */
}

/* theme 007 */
body.colours-007 {
    --primary-bg: 58,95%,83%; /* hsl(58,95%,83%) */
    --secondary-bg: 60,76%,76%; /* hsl(60,76%,76%) */
    --text: 212,47%,25%; /* hsl(212,47%,25%) */
    --linktext: 193,100%,19%; /* hsl(193,100%,19%) */
    --darklinktext: 0,0%,0%; /* hsl(0,0%,0%) */
    --brilliant: 208,100%,44%; /* hsl(208,100%,44%) */
    --tab-two: 83,45%,80%; /* hsl(83,45%,80%) */
    --tab-three: 152,28%,74%; /* hsl(152,28%,74%) */
    --tab-four: 189,37%,64%; /* hsl(189,37%,64%) */
    --tab-five: 200,54%,57%; /* hsl(200,54%,57%) */
	--tab-six: 205,68%,51%; /* hsl(205,68%,51%) */
}

/* theme 008 */
body.colours-008 {
    --primary-bg: 3,100%,92%; /* hsl(3,100%,92%) */
    --secondary-bg: 5,100%,89%; /* hsl(5,100%,89%) */
    --text: 195,100%,20%; /* hsl(195,100%,20%) */
    --linktext: 195,100%,25%; /* hsl(195,100%,25%) */
    --darklinktext: 195,70%,14%; /* hsl(195,70%,14%) */
    --brilliant: 196,100%,42%; /* hsl(196,100%,42%) */
    --tab-two: 278,9%,83%; /* hsl(278,9%,83%) */
    --tab-three: 205,35%,76%; /* hsl(205,35%,76%) */
    --tab-four: 199,52%,67%; /* hsl(199,52%,67%) */
    --tab-five: 197,62%,59%; /* hsl(197,62%,59%) */
    --tab-six: 196,68%,51%; /* hsl(196,68%,51%) */
}

/* theme 009 */
body.colours-009 {
	--primary-bg: 161,100%,90%; /* hsl(161,100%,90%) */
    --secondary-bg: 162,69%,81%; /* hsl(162,69%,81%) */
	--text: 217,55%,36%; /* hsl(217,55%,36%) */
	--linktext: 216,85%,35%; /* hsl(216,85%,35%) */
	--darklinktext: 231,37%,11%; /* hsl(231,37%,11%) */
	--brilliant: 217,90%,60%; /* hsl(217,90%,60%) */
    --tab-two: 185,68%,82%; /* hsl(185,68%,82%) */
    --tab-three: 199,79%,78%; /* hsl(199,79%,78%) */
    --tab-four: 206,82%,73%; /* hsl(206,82%,73%) */
    --tab-five: 211,85%,69%; /* hsl(211,85%,69%) */
    --tab-six: 214,89%,65%; /* hsl(214,89%,65%) */
}

/* theme 010 */
body.colours-010 {
    --primary-bg: 0,0%,95%; /* hsl(0,0%,95%) */
    --secondary-bg: 0,0%,82%; /* hsl(0,0%,82%) */
    --text: 0,0%,21%; /* hsl(0,0%,21%) */
    --linktext: 0,100%,33%; /* hsl(0,100%,33%) */
    --darklinktext: 0,0%,0%; /* hsl(0,0%,0%) */
    --brilliant: 7,81%,49%; /* hsl(7,81%,49%) */
    --tab-two: 6,44%,86%; /* hsl(6,44%,86%) */
    --tab-three: 5,50%,78%; /* hsl(5,50%,78%) */
    --tab-four: 5,55%,70%; /* hsl(5,55%,70%) */
    --tab-five: 6,59%,62%; /* hsl(6,59%,62%) */
    --tab-six: 4,57%,53%; /* hsl(4,57%,53%) */
}

/* theme 013 (Ireland theme) */
body.colours-013 {
	--primary-bg: 97,100%,90%; /* hsl(97,100%,90%) */
    --secondary-bg: 103,95%,86%; /* hsl(103,95%,86%) */
	--text: 25,79%,37%; /* hsl(25,79%,37%) */
	--linktext: 17,80%,32%; /* hsl(17,80%,32%) */
	--darklinktext: 189,37%,11%; /* hsl(189,37%,11%) */
	--brilliant: 139,100%,31%; /* hsl(139,100%,31%) */
    --tab-two: 114,65%,81%; /* hsl(114,65%,81%) */
    --tab-three: 124,54%,72%; /* hsl(124,54%,72%) */
    --tab-four: 129,50%,62%; /* hsl(129,50%,62%) */
    --tab-five: 134,48%,52%; /* hsl(134,48%,52%) */
    --tab-six: 137,64%,42%; /* hsl(137,64%,42%) */
}

/* theme 015 (Mastodon theme) */
body.colours-015 {
    --primary-bg: 327,100%,93%; /* hsl(327,100%,93%) */
    --secondary-bg: 330,66%,86%; /* hsl(330,66%,86%) */
    --text: 229,16%,19%; /* hsl(229,16%,19%) */
    --linktext: 208,92%,30%; /* hsl(208,92%,30%) */
    --darklinktext: 204,16%,6%; /* hsl(204,16%,6%) */
    --brilliant: 208,63%,52%; /* hsl(208,63%,52%) */
    --tab-two: 277,40%,86%; /* hsl(277,40%,86%) */
    --tab-three: 235,40%,82%; /* hsl(235,40%,82%) */
    --tab-four: 219,50%,74%; /* hsl(219,50%,74%) */
    --tab-five: 213,56%,66%; /* hsl(213,56%,66%) */
    --tab-six: 211,61%,60%; /* hsl(211,61%,60%) */
}