{{ define "header" }}{{ partial "header.html" . }}{{ end }}
{{ define "main" }}

	<article class="h-entry">
		<h1 class="page-title p-name">{{ .Page.Title }}</h1>
		{{ if eq .Section "posts" -}}
			<div class="entry-meta">
				<p><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
					{{- .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006" -}}
					</time>
				</p>
			</div>
		{{ end }}
		<div class="entry-content e-content">
		{{ .Content }}
		</div>
		{{ if eq .Section "posts" -}}
			<div class="entry-notes">
				<p>Categorised under:
					{{ range $index, $categories := .Params.categories }}
						{{- if gt $index 0 }}, {{ end -}}
						<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
					{{- end }}.
					Tagged with:
					{{ range $index, $tags := .Params.tags }}
						{{- if gt $index 0 }}, {{ end -}}
						<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
					{{- end }}.
				</p>
			</div>
		{{ end }}
	</article>
	
{{ end }}
