{{ define "main" }}
	<div class="intro">
		<div class="entry-content">
			{{- .Content -}}
		</div>
	</div>

	<section class="latest">
		<h2 id="latest-photos">Photos</h2>
		<p><a href="/photos">See all photos</a>. <a href="/photos/index.xml">Subscribe to the Photos RSS feed</a>.</p>
		<ul class="latest-photos">
			{{ range first 5 (where .Site.Pages "Section" "=" "photos") }}
				{{ partial "summary-photo.html" . }}
			{{ end }}
		</ul>
	</section>
	
	<section class="latest">
		<h2 id="latest-notes">Notes</h2>
		<p><a href="/notes">See all notes</a>. <a href="/photos/index.xml">Subscribe to the Notes RSS feed</a>.</p>
		<ul class="notes-list">
			{{ range first 3 (where .Site.Pages "Section" "=" "notes") }}
				<li class="post note-post">
					<h3>
						<a href="{{ .URL }}">
						{{- .Title -}}
						</a>
					</h3>
					{{ partial "summary.html" . }}
				</li>
			{{ end }}
		</ul>
	</section>
{{ end }}