<footer class="site-footer">
	<div class="footer-wrap">
		<h2>A bit about me</h2>
		<p>Hello! I&#8217;m Laura Kalbag, a British designer living in Ireland, and working as one half of <a href="https://ind.ie">Ind.ie</a>. We make an app called <a href="https://better.fyi">Better</a> that protects you while you’re browsing the web. My book <a href="https://abookapart.com/products/accessibility-for-everyone">Accessibility For Everyone</a> is available in paperback, ebook, and audiobook from A Book Apart.</p>
		<img src="/notes/1/me.jpg" alt="Photo of me waving at you." >
		<p><small class="site-info">Copyright &copy; <a href="{{ .Site.BaseURL }}" >{{ .Site.Title }}</a>, {{ now.Format "2006" }}. <a href="/rss">RSS feeds</a></small></p>
	</div>
</footer>
