<style>
    :root {
        /* define colour theme variables to override default styles */
        --primary-bg: 97,100%,90%; /* hsl */
        --secondary-bg: 103,95%,86%; /* hsl */
        --text: 180,100%,18%; /* hsl */
        --linktext: 141,100%,19%; /* hsl */
        --darklinktext: 189,37%,11%; /* hsl */
        --brilliant: 139,100%,31%; /* hsl */
        --tab-two: 114,65%,81%; /* hsl */
        --tab-three: 124,54%,72%; /* hsl */
        --tab-four: 129,50%,62%; /* hsl */
        --tab-five: 134,48%,52%; /* hsl */
        --tab-six: 137,64%,42%; /* hsl */
    }

    .site-header {
        background-image: url('/images/tile-001.svg');
    }

    #content {
        background-image: url('/images/tile-001-transparent.svg');
    }
</style>