<li class="post {{ if eq .Type "photos" }}photo-post {{ end -}}{{ if eq .Type "notes" }}note-post {{ end -}}{{ with .Params.imageOrientation }} {{ . }}{{ end }}">
	{{ if ne .Type "photos" -}}
		<h2>
			<a href="{{ .URL }}">
			{{- .Title -}}
			</a>
		</h2>
		{{ if ne .Type "notes" -}}
			<div class="entry-meta">
				<p>Posted: <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
					{{- .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006" -}}
					</time>
				</p>
			</div>
		{{- end }}
		{{ if eq .Type "notes" -}}
			<div class="summary">
				{{ .Content }}
				<div class="entry-notes"><p><a href="{{ .URL }}">Canonical URL for {{ .Title }}</a>.</p></div>
			</div>
		{{ else }}
			<div class="summary">
				<p>
				{{- .Summary }} <a href="{{ .URL }}">Read {{ .Title }}</a>.
				</p>
			</div>
		{{ end }}
	{{- end }}
	{{ if eq .Type "photos" -}}
		<a href="{{ .URL }}">
			<img src="{{ .Params.Image }}" alt="{{ .Params.ImageAlt }}"/>
		</a>
	{{- end }}
</li>
{{ if eq .Type "photos" -}}
	{{ if .Params.image2 }}
		<li class="photo-post">
			<a href="{{ .URL }}">
				<img src="{{ .Params.image2 }}" alt="{{ .Params.imageAlt2 }}"/>
			</a>
		</li>
	{{ end }}
	{{ if .Params.image3 }}
		<li class="photo-post">
			<a href="{{ .URL }}">
				<img src="{{ .Params.image3 }}" alt="{{ .Params.imageAlt3 }}"/>
			</a>
		</li>
	{{ end }}
	{{ if .Params.image4 }}
		<li class="photo-post">
			<a href="{{ .URL }}">
				<img src="{{ .Params.image4 }}" alt="{{ .Params.imageAlt4 }}"/>
			</a>
		</li>
	{{ end }}
	{{ if .Params.image5 }}
		<li class="photo-post">
			<a href="{{ .URL }}">
				<img src="{{ .Params.image5 }}" alt="{{ .Params.imageAlt5 }}"/>
			</a>
		</li>
	{{ end }}
{{ end }}