<svg version="1.1" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="tilett">
    <pattern id="tilett" x="0" y="0" width="600" height="480" patternUnits="userSpaceOnUse" patternContentUnits="userSpaceOnUse">
        <g id="transparent-tile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
            <g fill="none" fill-rule="evenodd" transform="translate(-19.5 -31.5)">
                <path d="m78.65 213.84c-.87-.87-.87-2.30 0-3.18.87-.87 2.30-.87 3.18 0l120.00 120.00c.87.87.87 2.30 0 3.18s-2.30.87-3.18 0z" fill="#444040" style="fill:hsl(var(--text));" fill-rule="nonzero"/>
                <path d="m259.59 453.09c-.87.87-2.30.87-3.18 0-.87-.87-.87-2.30 0-3.18l60-60c.87-.87 2.30-.87 3.18 0l58.40 58.40 58.40-58.40c.87-.87 2.28-.87 3.16-.01l62.99 61.49c.88.86.90 2.29.03 3.18-.86.88-2.29.90-3.18.03l-61.40-59.94-58.42 58.42c-.87.87-2.30.87-3.18 0l-58.40-58.40z" fill="#D7D7D7" style="fill: hsl(var(--tab-two));" fill-rule="nonzero" transform="matrix(-1 0 0 -1 758.99 844.49)"/>
                <path d="m473.09 321.06c-1.18 1.15-3.08 1.12-4.24-.05s-1.12-3.08.05-4.24l24.07-23.41c1.16-1.13 3.01-1.13 4.18 0l21.98 21.38 21.98-21.38c1.15-1.12 2.98-1.13 4.15-.02l25.27 23.99c1.20 1.14 1.25 3.03.10 4.24s-3.03 1.25-4.24.10l-23.18-22.01-22.00 21.40c-1.16 1.13-3.01 1.13-4.18 0l-21.98-21.38z" fill="#D7D7D7" style="fill: hsl(var(--tab-two));" fill-rule="nonzero" transform="matrix(.86 -.5 .5 .86 -84.11 301.07)"/>
                <path d="m76.40 72.98-26.23 26.23-2.91-3.44 27.55-27.55c.87-.87 2.30-.87 3.18 0l58.40 58.40 58.40-58.40c.87-.87 2.28-.87 3.16-.01l62.99 61.49c.88.86.90 2.29.03 3.18-.86.88-2.29.90-3.18.03l-61.40-59.94-58.42 58.42c-.87.87-2.30.87-3.18 0z" fill="#D0D0D0" style="fill:hsl(var(--tab-three));" fill-rule="nonzero" transform="matrix(-.70 .70 -.70 -.70 334.76 62.42)"/>
                <g fill="#C5C6C6" style="fill:hsl(var(--tab-four));">
                    <g>
                        <circle cx="264" cy="156" r="4.5"/>
                        <circle cx="279" cy="156" r="4.5"/>
                        <circle cx="294" cy="156" r="4.5"/>
                        <circle cx="309" cy="156" r="4.5"/>
                        <circle cx="264" cy="171" r="4.5"/>
                        <circle cx="279" cy="171" r="4.5"/>
                        <circle cx="294" cy="171" r="4.5"/>
                        <circle cx="309" cy="171" r="4.5"/>
                        <circle cx="264" cy="186" r="4.5"/>
                        <circle cx="279" cy="186" r="4.5"/>
                        <circle cx="294" cy="186" r="4.5"/>
                        <circle cx="309" cy="186" r="4.5"/>
                        <circle cx="264" cy="201" r="4.5"/>
                        <circle cx="279" cy="201" r="4.5"/>
                        <circle cx="294" cy="201" r="4.5"/>
                        <circle cx="309" cy="201" r="4.5"/>
                    </g>
                    <g>
                        <circle cx="264" cy="216" r="4.5"/>
                        <circle cx="279" cy="216" r="4.5"/>
                        <circle cx="294" cy="216" r="4.5"/>
                        <circle cx="309" cy="216" r="4.5"/>
                        <circle cx="264" cy="231" r="4.5"/>
                        <circle cx="279" cy="231" r="4.5"/>
                        <circle cx="294" cy="231" r="4.5"/>
                        <circle cx="309" cy="231" r="4.5"/>
                        <circle cx="264" cy="246" r="4.5"/>
                        <circle cx="279" cy="246" r="4.5"/>
                        <circle cx="294" cy="246" r="4.5"/>
                        <circle cx="309" cy="246" r="4.5"/>
                        <circle cx="264" cy="261" r="4.5"/>
                        <circle cx="279" cy="261" r="4.5"/>
                        <circle cx="294" cy="261" r="4.5"/>
                        <circle cx="309" cy="261" r="4.5"/>
                    </g>
                    <g>
                        <circle cx="324" cy="216" r="4.5"/>
                        <circle cx="339" cy="216" r="4.5"/>
                        <circle cx="354" cy="216" r="4.5"/>
                        <circle cx="369" cy="216" r="4.5"/>
                        <circle cx="324" cy="231" r="4.5"/>
                        <circle cx="339" cy="231" r="4.5"/>
                        <circle cx="354" cy="231" r="4.5"/>
                        <circle cx="369" cy="231" r="4.5"/>
                        <circle cx="324" cy="246" r="4.5"/>
                        <circle cx="339" cy="246" r="4.5"/>
                        <circle cx="354" cy="246" r="4.5"/>
                        <circle cx="369" cy="246" r="4.5"/>
                        <circle cx="324" cy="261" r="4.5"/>
                        <circle cx="339" cy="261" r="4.5"/>
                        <circle cx="354" cy="261" r="4.5"/>
                        <circle cx="369" cy="261" r="4.5"/>
                    </g>
                    <g transform="matrix(.70 .70 -.70 .70 619.27 409.04)">
                        <circle cx="5.56" cy="5.54" r="4.5"/>
                        <circle cx="5.56" cy="20.54" r="4.5"/>
                        <circle cx="20.56" cy="20.54" r="4.5"/>
                        <circle cx="4.5" cy="36" r="4.5"/>
                        <circle cx="19.5" cy="36" r="4.5"/>
                        <circle cx="34.5" cy="36" r="4.5"/>
                        <circle cx="4.5" cy="51" r="4.5"/>
                        <circle cx="19.5" cy="51" r="4.5"/>
                        <circle cx="34.5" cy="51" r="4.5"/>
                        <circle cx="49.5" cy="51" r="4.5"/>
                        <circle cx="4.5" cy="66" r="4.5"/>
                        <circle cx="19.5" cy="66" r="4.5"/>
                        <circle cx="34.5" cy="66" r="4.5"/>
                        <circle cx="49.5" cy="66" r="4.5"/>
                        <circle cx="4.5" cy="81" r="4.5"/>
                        <circle cx="19.5" cy="81" r="4.5"/>
                        <circle cx="34.5" cy="81" r="4.5"/>
                        <circle cx="49.5" cy="81" r="4.5"/>
                    </g>
                    <g transform="matrix(.70 .70 -.70 .70 40.5 389.31)">
                        <circle cx="4.5" cy="4.5" r="4.5"/>
                        <circle cx="19.5" cy="4.5" r="4.5"/>
                        <circle cx="34.5" cy="4.5" r="4.5"/>
                        <circle cx="49.5" cy="4.5" r="4.5"/>
                        <circle cx="4.5" cy="19.5" r="4.5"/>
                        <circle cx="19.5" cy="19.5" r="4.5"/>
                        <circle cx="34.5" cy="19.5" r="4.5"/>
                        <circle cx="49.5" cy="19.5" r="4.5"/>
                        <circle cx="4.5" cy="34.5" r="4.5"/>
                        <circle cx="19.5" cy="34.5" r="4.5"/>
                        <circle cx="34.5" cy="34.5" r="4.5"/>
                        <circle cx="49.5" cy="34.5" r="4.5"/>
                        <circle cx="19.5" cy="49.5" r="4.5"/>
                        <circle cx="34.5" cy="49.5" r="4.5"/>
                        <circle cx="49.5" cy="49.5" r="4.5"/>
                    </g>
                    <g transform="matrix(.70 .70 -.70 .70 18.21 452.52)">
                        <circle cx="4.5" cy="4.5" r="4.5"/>
                        <circle cx="19.5" cy="4.5" r="4.5"/>
                        <circle cx="19.5" cy="19.5" r="4.5"/>
                    </g>
                </g>
                <path d="m243.17 490.87-20.46 20.46c-.87.87-2.30.87-3.18 0-.87-.87-.87-2.30 0-3.18l20.32-20.59z" fill="#D0D0D0" style="fill:hsl(var(--tab-three));" fill-rule="nonzero" transform="matrix(-.70 .70 -.70 -.70 747.78 689.82)"/>
                <path d="m469.5 96-25.5 51h51zm4.02-2.01 25.5 51.00c1.49 2.99-.67 6.51-4.02 6.51h-51c-3.34 0-5.52-3.52-4.02-6.51l25.5-51.00c1.65-3.31 6.39-3.31 8.04 0z" fill="#A2A4A4" style="fill:hsl(var(--brilliant));" fill-rule="nonzero"/>
                <path d="m49.5 277.49-25.5 51h51zm4.02-2.01 25.5 51c1.49 2.99-.67 6.51-4.02 6.51h-51c-3.34 0-5.52-3.52-4.02-6.51l25.5-51c1.65-3.31 6.39-3.31 8.04 0z" fill="#A2A4A4" style="fill:hsl(var(--brilliant));" fill-rule="nonzero" transform="matrix(0 -1 1 0 -253.49 352.49)"/>
                <path d="m384.50 321.81 7.19 14.38c.99 1.99-.45 4.34-2.68 4.34h-14.38c-2.23 0-3.68-2.34-2.68-4.34l7.19-14.38c1.10-2.21 4.26-2.21 5.36 0z" fill="#7E8080" style="fill:hsl(var(--tab-six));" fill-rule="nonzero" transform="matrix(.86 .5 -.5 .86 216.33 -146.65)"/>
                <circle cx="200.25" cy="212.25" fill="#444040" style="fill:hsl(var(--text));" r="6.75"/>
                <g fill="#313131" style="fill:hsl(var(--linktext));" fill-rule="nonzero" transform="matrix(.46 -.88 .88 .46 326.47 85.69)">
                    <path d="m30.16.82c.37-.73 1.27-1.03 2.01-.66s1.03 1.27.66 2.01l-29.25 57.75c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m33.16 6.82c.37-.73 1.27-1.03 2.01-.66s1.03 1.27.66 2.01l-26.13 51.59c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m36.16 12.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-23.15 45.71c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m39.16 18.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-20.03 39.55c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m42.16 24.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-17.05 33.66c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m45.16 30.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-13.93 27.51c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m48.16 36.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-10.95 21.62c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m51.16 42.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-7.83 15.46c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m54.16 48.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-4.85 9.58c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                    <path d="m57.16 54.82c.37-.73 1.27-1.03 2.01-.66.73.37 1.03 1.27.66 2.01l-1.73 3.42c-.37.73-1.27 1.03-2.01.66-.73-.37-1.03-1.27-.66-2.01z"/>
                </g>
                <path d="m559.63 29.86 1.72 1.82 56.16 56.15c.87.87.87 2.30 0 3.18-.87.87-2.30.87-3.18 0l-54.68-54.68z" fill="#313131" style="fill:hsl(var(--linktext));" fill-rule="nonzero" transform="matrix(0 1 -1 0 649.68 -528.13)"/>
                <path d="m.65 3.84c-.87-.87-.87-2.30 0-3.18.87-.87 2.30-.87 3.18 0l1.68 1.68-1.68 4.68z" fill="#313131" style="fill:hsl(var(--linktext));" fill-rule="nonzero" transform="matrix(0 1 -1 0 619.5 508.54)"/>
            </g>
        </g>
    </pattern>
    <rect id="space" x="0" y="0" fill="url(#tilett)" height="18.8em" width="100%" />
</svg>