{{/* get file that matches the filename as specified as original="" in shortcode */}}
{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get "original")) }}

{{/* get command (Fit, Resize or Fill) as specified as command="" in shortcode  */}}
{{ $command := .Get "command" }}

{{/* set image sizes, these are hardcoded for now */}}
{{/* if the original image is larger than specified size, set that image size */}}

{{ $tinyw := default "350x" }}
{{ $smallw := default "600x" }}
{{ $mediumw := default "1000x" }}
{{ $largew := default "1500x" }}

{{ if eq $command "Fit"}}
	{{/* resize the original image to fit the given sizes */}}
	{{/* if the each image size exists, fit that image */}}

	{{ .Scratch.Set "tiny" ($original.Fit $tinyw) }}
	{{ .Scratch.Set "small" ($original.Fit $smallw) }}
	{{ .Scratch.Set "medium" ($original.Fit $mediumw) }}
	{{ .Scratch.Set "large" ($original.Fit $largew) }}

{{ else if eq $command "Resize"}}
	{{/* resize the original image to the given sizes */}}
	{{/* if the each image size exists, resize that image */}}

	{{ .Scratch.Set "tiny" ($original.Resize $tinyw) }}
	{{ .Scratch.Set "small" ($original.Resize $smallw) }}
	{{ .Scratch.Set "medium" ($original.Resize $mediumw) }}
	{{ .Scratch.Set "large" ($original.Resize $largew) }}

{{ else if eq $command "Fill"}}
	{{/* resize the original image to fill the given sizes*/}}
	{{/* if the each image size exists, fill that image */}}

	{{ .Scratch.Set "tiny" ($original.Fill $tinyw) }}
	{{ .Scratch.Set "small" ($original.Fill $smallw) }}
	{{ .Scratch.Set "medium" ($original.Fill $mediumw) }}
	{{ .Scratch.Set "large" ($original.Fill $largew) }}

{{ else }}
	{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}

{{/* add the processed images to the scratch */}}
{{/* if that image exists, get that image from scratch */}}
{{/* only get images from scratch if they are smaller than or equal to the original image size */}}

{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}
{{ $large := .Scratch.Get "large" }}

<img 
	{{ if ge $original.Width "1500" }}
		style="width: 1500px;"
	{{ else if ge $original.Width "1000" }}
		style="width: 1000px;"
	{{ else if ge $original.Width "600" }}
		style="width: 600px;"
	{{ else if ge $original.Width "350" }}
		style="width: 350px;"
	{{ end }}
	{{ with .Get "sizes" }}sizes='{{.}}'{{ else }}sizes="(min-width: 1060px) 1000px, calc(94.59vw + 1em)"{{ end }}
	srcset='
	{{ if ge $original.Width "350" }}
		{{ with $tiny.RelPermalink }}{{.}} 350w{{ end }}
	{{ end }}
	{{ if ge $original.Width "600" }}
		{{ with $small.RelPermalink }}, {{.}} 600w{{ end }}
	{{ end }}
	{{ if ge $original.Width "1000" }}
		{{ with $medium.RelPermalink }}, {{.}} 1000w{{ end }}
	{{ end }}
	{{ if ge $original.Width "1500" }}
		{{ with $large.RelPermalink }}, {{.}} 1500w {{ end }}
	{{ end }}'
	{{ if .Get $medium }}
	src="{{ $medium.RelPermalink }}" 
	{{ else }}
	src="{{ $original.RelPermalink }}" 
	{{ end }}
	{{ with .Get "alt" }}alt='{{.}}'{{ end }}>

<p><small><a href="{{ $original.RelPermalink }}" class="imagelink" title="original image file">Original image full size</a></small></p>
