{{/* get original file that matches the filename as specified as original="" in shortcode */}}
{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get "original")) }}
{{/* get command (Fit, Resize or Fill) as specified as command="" in shortcode  */}}
{{ $command := .Get "command" }}
{{/* set sizes, these are hardcoded for now as we aren't using sizes in shortcodes by default  */}}
{{ $tinyw := default "350x" }}
{{ $smallw := default "600x" }}
{{ $mediumw := default "1000x" }}
{{ $largew := default "1500x" }}
{{ if eq $command "Fit"}}
{{/* resize the original image to fit the given sizes */}}
{{ .Scratch.Set "tiny" ($original.Fit $tinyw) }}
{{ .Scratch.Set "small" ($original.Fit $smallw) }}
{{ .Scratch.Set "medium" ($original.Fit $mediumw) }}
{{ .Scratch.Set "large" ($original.Fit $largew) }}
{{ else if eq $command "Resize"}}
{{/* resize the original image to the given sizes */}}
{{ .Scratch.Set "tiny" ($original.Resize $tinyw) }}
{{ .Scratch.Set "small" ($original.Resize $smallw) }}
{{ .Scratch.Set "medium" ($original.Resize $mediumw) }}
{{ .Scratch.Set "large" ($original.Resize $largew) }}
{{ else if eq $command "Fill"}}
{{/* resize the original image to fill the given sizes*/}}
{{ .Scratch.Set "tiny" ($original.Fill $tinyw) }}
{{ .Scratch.Set "small" ($original.Fill $smallw) }}
{{ .Scratch.Set "medium" ($original.Fill $mediumw) }}
{{ .Scratch.Set "large" ($original.Fill $largew) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{/* add the processed images to the scratch */}}
{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}
{{ $large := .Scratch.Get "large" }}

<a href="{{ $original.RelPermalink }}" class="imagelink" title="original image file">
	<img 
		{{ with .Get "sizes"}}sizes="{{.}}"{{ end }}
		srcset="{{ $tiny.RelPermalink }} 350w, {{ $small.RelPermalink }} 600w, {{ $medium.RelPermalink }} 1000w, {{ $large.RelPermalink }}
		1500w"
		src="{{ $medium.RelPermalink }}" 
		alt="{{ with .Get "alt"}}{{.}}{{ end }}">
</a>
 