// 013 YELLOW GREEN + ORANGE TEXT WITH GREEN ACCENT (Ind.ie theme)
$primary-bg = #EFFFC9
$secondary-bg = #CDFCB8
$text = #AD5300
$linktext = #933503
$darklinktext = #261513
$brilliant = #009F33
$tab-two = #C7EFB0
$tab-three = #A0DF97
$tab-four = #7BD080
$tab-five = #49BF65
$tab-six = #25AF4C

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-013.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-013-transparent.svg') repeat-x
	background-size 20em
