figure
	margin 1em 0 1em
	
	a
		display block
		text-decoration none

// use @css as stylus isn’t compiling grid properly yet
@css {
	figure.grid {
		display: grid;
		grid-template-areas:
    		"image1 image2 image3"
        	"figcaption figcaption figcaption";
	}

	figure.grid figcaption {
        grid-area: figcaption;
	}
}

figcaption
	display block
	margin-top 0.5em

img
	margin 1em 0
	max-height 100vh // don’t exceed height of viewport
	max-width 100% // don’t exceed width of viewport
	
	figure &
		margin-bottom 0

// for images with .always-full-height class, remove max-height
figure.always-full-height img
	max-height none

.photos .posts-list
	margin-top 1em

.photos .posts-list .photo-post img
	display block
	margin 0

// use @css as stylus isn’t compiling flexbox properly yet
@css {
	@media screen and (min-width: 35em) {
		.photos .posts-list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
			grid-gap: 1em;
			grid-auto-flow: dense;
		}

		/* for square/default photos */
		.photos .posts-list	.photo-post {
			grid-column-end: span 1;
		}

		.photos .posts-list	.photo-post.portrait {
			grid-column-end: span 1;
		}

		.photos .posts-list	.photo-post.landscape {
			grid-column-end: span 2;
		}

		.photos .posts-list .photo-post img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

// don't do underline on photo links
body ul.posts-list li.photo-post a, body ul.posts-list li.photo-post a:hover, body ul.posts-list li.photo-post a:active
	background none
	display block